<%= content_for(:callout) { %><h1>Admin Dashboard</h1><% } %>
<%= link_to "Add a Library Branch", new_admin_library_location_path, class: "btn button-color" %>
<h1>Library Branches</h1>
<div class="row twelvecol underlined">
  <div class="two-of-twelve">
    <h2>Name</h2>
  </div>
  <div class="two-of-twelve">
    <h2>Zipcode</h2>
  </div>
  <div class="four-of-twelve">
    <h2>Actions</h2>
  </div>
</div>


<% @library_locations.each do |library_location| %>
  <div class="row twelvecol underlined">
    <div class="two-of-twelve">
      <%= library_location.name %>
    </div>
    <div class="two-of-twelve">
      <%= library_location.zipcode%>
    </div>
    <div class="four-of-twelve">
      <%= link_to "Delete", admin_library_location_path(library_location), method: :delete, data: { confirm: "Are you sure you want to delete this library branch?" } %>
      <%= link_to "Edit", edit_admin_library_location_path(library_location) %>
    </div>
  </div>
<% end %>
