<header class="header-logged-in">

  <div class="container">
    <div class="row">
      <small>
        <%= link_to "English", "#" %> | <%= link_to "Espa&ntilde;ol".html_safe, "#" %>
      </small>
    </div>
    <div class="row">
      <div class="one-col">
        <%= render "shared/icon" %>
      </div>
      <div class="six-col">
        <h1>Chicago Public Libraries</h1>
      </div>
      <div class="five-col last">
        <nav>
          <%= link_to "Hi User!", "#" %> |
          <%= link_to "Your Account", profile_path %> |
          <%= link_to "Your Courses", "#" %> |
          <%= link_to "Sign Out", destroy_user_session_path, method: "delete" %>
        </nav>
      </div>
    </div>
  </div>

</header>