<% content_for :callout do %>
  <h1>Get DigitalLearn for Your Library</h1>
<% end %>

<div class="static-page">
  <h2>Customization Plans</h2>
  <p>
    PLA offers three customization plans for building your own DigitalLearn site.
    Our plans offer low-cost alternatives to traditional learning management systems (LMS).
  </p>

  <div class="row">
    <div class="fourcol">
      <h3>Do it yourself</h3>
      <h4>You got this</h4>
      <p>
        With do it yourself customization, you gain access to our open source
        materials to create your own site Libraries who build their own sites
        are responsible for their updating and maintenance; new courses and features
        are not automatically shared from PLA.
      </p>
      <p>
        <em>Recommended for libraries with sufficient staff and experience
        to set up, maintain, and host the site.</em>
      </p>
      <h5>Pricing:</h5>
      <p>There are no direct costs associated with using our open source materials.</p>
      <%= link_to "Open Source Materials >", "https://github.com/PublicLibraryAssoc/cpldl", class: "btn", target: :blank %>
    </div>

    <div class="fourcol">
      <h3>Basic</h3>
      <h4>Let us do the work</h4>
      <p>
        With basic customization, well build your own digital literacy training web site
        in only 4 weeks. No tech experience? No problem. We do the heavy lifting
        so you don't have to.
      </p>
      <p>
        <em>Recommended for most libraries.</em>
      </p>
      <h5>Staff Features:</h5>
      <ul class="checkmarks teal">
        <li>No IT staff or skills required</li>
        <li>Automatic updates</li>
        <li>Fast build and test cycle</li>
        <li>Branded design</li>
        <li>Administrative dashboard</li>
        <li>Basic user analytics</li>
        <li>Shared content</li>
        <li>Editable course elements</li>
        <li>Custom course content </li>
      </ul>
      <h5>Learner Features:</h5>
      <ul class="checkmarks teal">
        <li>Targeted content</li>
        <li>Self directed courses</li>
        <li>24/7 availability</li>
        <li>Saved progress</li>
        <li>Course certificates</li>
        <li>Recommendations</li>
        <li>Custom course lists</li>
      </ul>
      <h5>Pricing:</h5>
      <p>
        $15,000 fee for initial build, 4-week period of development and testing,
        basic training, launch, and one year of hosting. A hosting fee will be
        required an after the first year, and may cost $600-$1,500
        (costs will be determined by the number of sites built, and will
        go down as additional sites are developed).
      </p>
      <%= link_to "Get Started >", "#", class: "btn" %><%# TODO: insert link when known. %>
    </div>

    <div class="fourcol last">
      <h3>Advanced</h3>
      <h4>Go one step further</h4>
      <p>
        With advanced customization, you'll get all the features of basic
        customization plus additional features specific to your library's needs.
        We'll meet with your staff to assess those needs and develop a proposal.
      </p>
      <p>
        <em>Recommended for libraries that want to tie DigitalLearn into existing
        programs, want special features, or have unique data needs.</em>
      </p>
      <h5>Staff Features:</h5>
      <ul class="checkmarks teal">
        <li>No IT staff or skills required</li>
        <li>Automatic updates</li>
        <li>Fast build and test cycle</li>
         <li>Branded design</li>
        <li>Administrative dashboard</li>
        <li>Basic user analytics</li>
        <li>Shared content</li>
        <li>Editable course elements</li>
        <li>Custom course content</li>
      </ul>
      <h5>Learner Features:</h5>
      <ul class="checkmarks teal">
        <li>Targeted content</li>
        <li>Self directed courses</li>
        <li>24/7 availability</li>
        <li>Saved progress</li>
        <li>Course certificates</li>
        <li>Recommendations</li>
        <li>Custom course lists</li>
      </ul>
      <h5>Advanced Features:</h5>
      <ul class="checkmarks purple">
        <li>Optional: Integration</li>
        <li>Optional: Training</li>
        <li>Optional: Marketing</li>
        <li>Optional: Advanced reporting </li>
        <li>Optional: Other requests</li>
      </ul>
      <h5>Pricing:</h5>
      <p>Costs for advanced customization will vary based on needs.</p>
      <%= link_to "Get Started >", "#", class: "btn" %><%# TODO: insert link when known. %>
    </div>
  </div>

  <h2>Cost Considerations</h2>
  <h3>The Price is Right</h3>

  <div class="row">
    <div class="threecol">
      <%= image_tag "testimonial1.png", class: "testimonial-image" %>
    </div>

    <div class="ninecol last">
      <p>
        "We loved the DigitalLearn courses already but the product didn't allow us
        to follow progress of our learners the way we wanted to. Our first attempt
        at a solution was to downloaded all of the digitallearn modules into a
        learning management system and pilot the program for six months.
        The product gave us what we wanted but because we were being charged per
        user by our provider, it quickly became too expensive for us to maintain.
        We needed a product that would provide us the same features but at a much
        lower cost. That's when vie decided to work with PLA to build a custom
        DigitalLearn site."
      </p>
      <p>
        <strong>- Marian D. Christman, Manager, Digital Inclusion Initiatives,
        Nashville (Tenn.) Public Library</strong>
      </p>
    </div>
  </div>

  <div class="row extra-bottom-margin">
    <div class="threecol">
      <%= image_tag "testimonial2.png", class: "testimonial-image" %>
    </div>

    <div class="ninecol last">
      <p>
        "We wanted to add some resources to DigitalLearn to help people with
        digital literacy skills in the Kalamazoo area. We first considered
        creating our own in-house solution but when I learned about DigitalLearn's
        custom sties and brought it to my IT team, we found that the price was a
        steal. We also factored in the hours we'd have to put in-to building
        something on our own and it just seemed like a no-brainer to work with PLA."
      </p>
      <p>
        <strong>- Kevin King, Head of Branch and IT Services, Kalamazoo (Mich.) Public Library</strong>
      </p>
    </div>
  </div>

  <h3>Don't Go at it Alone</h3>
  <p>
    As the needs of our communities change, public libraries are continually
    being asked to do more with less. We know funding for new initiatives such as
    digital literacy training may not be in your budget. The good news?
    Support for digital literacy training is strong.
  </p>

  <div class="row">
    <div class="sixcol">
      <div class="callout-text">78%</div>
      <p>
        <strong>
          of those 16 and older say libraries should "definitely" offer
          programs to teach people how to use digital tools such as computers,
          smartphones, and apps. <sup>1</sup>
        </strong>
      </p>
      <p>
        <em><sup>1</sup>
          <%= link_to "Pew Research Center", "http://www.pewinternet.org/2015/09/15/libraries-at-the-crossroads", target: :blank %>
        </em>
      </p>
    </div>

    <div class="sixcol">
      <div class="callout-text">65%</div>
      <p>
        <strong>of local government leaders say libraries play an important role
          in advancing digital literacy as a community priority. <sup>2</sup>
        </strong>
      </p>
      <p>
        <em><sup>2</sup>
          <%= link_to "ICMA/Aspen Institute",
          "https://icma.org/articles/icma-study-reveals-five-areas-where-public-libraries-can-support-community-goals", target: :blank %>
        </em>
      </p>
    </div>
  </div>

  <p>
    With strong support from both your community and its leaders, creating
    partnerships to advance digital literacy training at your library is possible.
    Consider reaching out to:
  </p>

  <ul class="marked">
    <li>Education, jobs, and senior services</li>
    <li>Large employers and other businesses</li>
    <li>Other libraries or library systems</li>
    <li>Library board, foundation, or friends group</li>
    <li>Corporate and private foundations</li>
  </ul>
</div>
