<h2 class="text-color">Your Profile</h2>

<%= form_for @profile, url: profile_path, method: :put do |f| %>

  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2>The following errors prohibited this profile from being saved:</h2>
      <ul>
      <% @profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <%= f.label :language_id, class: "text-color" do %>
      <%= t('profile_page.preferred_language') %><span class="required text-color"></span>
    <% end %>
    <%= f.collection_select(:language_id, Language.all, :id, "name", { include_blank: "Select..." }, class: "select-large" ) %>
  </fieldset>

  <fieldset>
    <% if current_organization.branches? && current_organization.library_locations.present? %>
      <%= f.label :library_location_id, class: "text-color" do %>
        <%= t('profile_page.library_location') %>
      <% end %>
      <%= f.select(:library_location_id, branch_options_for(current_organization, profile: @profile, selected: @profile.library_location_id), {include_blank: "#{t('login_signup.your_library')}"}, class: "select-large", id: "chzn" ) %>

      <% if current_organization.accepts_custom_branches? %>
          <%= render partial: 'shared/custom_branch_form', locals: { profile: @profile, profile_form: f } %>
        <% end %>
    <% end %>
  </fieldset>

  <% if current_organization.accepts_programs? %>
    <%= render partial: 'programs_profile_form', locals: { f: f } %>
  <% else %>

    <fieldset>
      <%= f.label :first_name, class: "text-color" do %>
        <%= t('login_signup.first_name') %>
      <% end %>
      <%= f.text_field :first_name %>
    </fieldset>

    <fieldset>
      <%= f.label :zip_code, class: "text-color" do %>
        <%= t('login_signup.zip_code') %>
      <% end %>
      <%= f.text_field :zip_code %>
    </fieldset>

  <% end %>

  <% if current_organization.accepts_programs? %>
    <br/>
    <fieldset>
      <%= f.label :opt_out_of_recommendations, class: "text-color" do %>
        <span><%= t('profile_page.opt_out_of_recommendations') %></span>
      <% end %>
      <div class="inline-radio-group">
        <div class="radio-option">
          <%= f.radio_button :opt_out_of_recommendations, false %>
          <label class="signup-label"><%= t('profile_page.opt_out_false') %></label>
        </div>
        <div class="radio-option">
          <%= f.radio_button :opt_out_of_recommendations, true %>
          <label class="signup-label"><%= t('profile_page.opt_out_true') %></label>
        </div>
      </div>
    </fieldset>
    <br/>
  <% end %>

  <fieldset>
    <%= f.submit "#{t('profile_page.save')}", class: "button-color" %>
  </fieldset>

<% end %>
