<h1>Your Profile</h1>

<%= form_for @profile, url: profile_path, method: :put do |f| %>

  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2>The following errors prohibited this profile from being saved:</h2>
      <ul>
      <% @profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <%= f.label :language_id do %>
      Preferred Language<span class="required"></span>
    <% end %>
    <%= f.collection_select(:language_id, Language.all, :id, "name", { include_blank: "Select..." }, class: "select-large" ) %>
  </fieldset>

  <fieldset>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </fieldset>

  <fieldset>
    <%= f.label :zip_code %>
    <%= f.text_field :zip_code %>
  </fieldset>

  <fieldset>
    <%= f.submit "Save" %>
  </fieldset>

<% end %>