<h1 class="text-color">Your Profile</h1>

<%= form_for @profile, url: profile_path, method: :put do |f| %>

  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2>The following errors prohibited this profile from being saved:</h2>
      <ul>
      <% @profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <%= f.label :language_id, class: "text-color" do %>
      <%= t('profile_page.preferred_language') %><span class="required text-color"></span>
    <% end %>
    <%= f.collection_select(:language_id, Language.all, :id, "name", { include_blank: "Select..." }, class: "select-large" ) %>
  </fieldset>

  <fieldset>
    <% if current_organization.branches? && current_organization.library_locations.present? %>
      <%= f.label :library_location_id, class: "text-color" do %>
        <%= t('profile_page.library_location') %>
      <% end %>
      <%= f.collection_select(:library_location_id, current_organization.library_locations, :id, "name", {include_blank: "Select..."}, class: "select-large", id: "chzn" ) %>
    <% end %>
  </fieldset>

  <% if current_organization.accepts_programs? %>
    <%= render partial: 'programs_profile_form', locals: { f: f } %>
  <% else %>

    <fieldset>
      <%= f.label :first_name, class: "text-color" do %>
        <%= t('login_signup.first_name') %>
      <% end %>
      <%= f.text_field :first_name %>
    </fieldset>

    <fieldset>
      <%= f.label :zip_code, class: "text-color" do %>
        <%= t('login_signup.zip_code') %>
      <% end %>
      <%= f.text_field :zip_code %>
    </fieldset>

  <% end %>

  <fieldset class="inline-checkbox-row">
    <%= f.label :opt_out_of_recommendations, class: "plain-label" do %>
      <%= f.check_box :opt_out_of_recommendations, class: "checkbox inline" %>
      <span><%= t('login_signup.opt_out_of_recommendations') %></span>
    <% end %>
  </fieldset>

  <fieldset>
    <%= f.submit "#{t('profile_page.save')}", class: "button-color" %>
  </fieldset>

<% end %>
