<h2 class="text-color"><%= t('account.profile') %></h2>

<%= form_for @profile, url: profile_path, method: :put do |f| %>

  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2>The following errors prohibited this profile from being saved:</h2>
      <ul>
      <% @profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class='form-row'>
    <fieldset>
      <%= f.label :language_id, class: "text-color" do %>
        <%= t('profile.preferred_language') %><span class="required text-color"></span>
      <% end %>
      <%= f.collection_select(:language_id, Language.all, :id, "name", {}, {}) %>
    </fieldset>
  </div>
  
  <% if current_organization.branches? && current_organization.library_locations.present? %>
    <div class="form-row">
      <fieldset>
        <%= f.label :library_location_id, class: "text-color" do %>
          <%= t('profile.library_location') %>
        <% end %>
        <%= f.select(:library_location_id, branch_options_for(current_organization, profile: @profile, selected: @profile.library_location_id), {include_blank: "#{t('login_signup.your_library')}"}, class: "style-select2", id: "chzn" ) %>

        <% if current_organization.accepts_custom_branches? %>
          <%= render partial: 'shared/custom_branch_form', locals: { profile: @profile, profile_form: f } %>
        <% end %>
      </fieldset>
    </div>
  <% end %>

  <% if current_organization.accepts_programs? %>
    <%= render partial: 'programs_profile_form', locals: { f: f } %>
  <% else %>
    <div class="form-row">
      <fieldset>
        <%= f.label :first_name, class: "text-color" do %>
          <%= t('login_signup.first_name') %>
        <% end %>
        <%= f.text_field :first_name %>
      </fieldset>
    </div>

    <div class="form-row">
      <fieldset>
        <%= f.label :zip_code, class: "text-color" do %>
          <%= t('login_signup.zip_code') %>
        <% end %>
        <%= f.text_field :zip_code %>
      </fieldset>
    </div>

  <% end %>

  <% if current_organization.accepts_programs? %>
    <br />
    <div class='form-row'>
      <fieldset>
        <%= f.label :opt_out_of_recommendations, class: "text-color" do %>
          <span><%= t('profile.opt_out_of_recommendations') %></span>
        <% end %>
        <div class="inline-radio-group">
          <div class="radio-option">
            <%= f.radio_button :opt_out_of_recommendations, false %>
            <label class="signup-label"><%= t('profile.opt_out_false') %></label>
          </div>
          <div class="radio-option">
            <%= f.radio_button :opt_out_of_recommendations, true %>
            <label class="signup-label"><%= t('profile.opt_out_true') %></label>
          </div>
        </div>
      </fieldset>
    </div>
    <br/>
  <% end %>

  <fieldset>
    <%= f.submit "#{t('profile.save')}", class: "button-color" %>
  </fieldset>

<% end %>
