<% if  dl_subdomain %>
  <h1 class="<%= text_color_class %>"><%= t('home.signup_notice') %></h1>

  <p>
    <%= t('login_signup.notice_to_users') %>
  </p>
<% else %>
  <h1 class="<%= text_color_class %>"><%= t('home.signup') %></h1>

  <p>
    <%= t('login_signup.want_to_take_a_course') %>
  </p>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <fieldset class="no-bottom-margin">
      <%= f.email_field :email, autofocus: true, id: "signup_email", placeholder: "#{t('login_signup.email')} *" %>
    </fieldset>

    <p class="small-14 grey extra-bottom-margin">
      <%= t('login_signup.dont_have_email') %> <%= link_to "#{t('login_signup.click_here')}", "http://digitallearn.org/learn/intro-email", target: "_blank" %> <%= t('login_signup.open_a_tutorial') %>
    </p>

    <% resource.build_profile %>
    <%= f.fields_for :profile do |p| %>
      <fieldset>
        <%= p.text_field :first_name, placeholder: "#{t('login_signup.first_name')} *" %>
      </fieldset>

      <fieldset>
        <%= p.text_field :zip_code, placeholder: "#{t('login_signup.zip_code')}" %>
      </fieldset>

      <% if chicago_subdomain == true %>
        <fieldset>
          <%= p.collection_select(:library_location_id, LibraryLocation.all, :id, "name", {include_blank: "What's your library called?"}, class: "select-large", id: "chzn" ) %>
        </fieldset>
      <% end %>
    <% end %>

    <fieldset>
      <%= f.label :password, t('login_signup.your_password'), class: 'signup-password-label' %>
      <%= f.text_field :password, { autocomplete: "off", autocorrect: "off",  autocapitalize: "off", spellcheck: "false",  id: "signup_password",  placeholder: "#{t('login_signup.your_password')} *" } %>
    </fieldset>

    <fieldset>
      <%= f.text_field :password_confirmation, { autocomplete: "off",  autocorrect: "off",  autocapitalize: "off", spellcheck: "false",  placeholder: "#{t('login_signup.re_enter_password')} *" } %>
    </fieldset>

    <fieldset>
      <%= check_box_tag('hide_signup_pass', '1', false, onchange: 'hide_signup_password(this);') %>
      <%= label_tag('hide_signup_pass', "#{t('login_signup.hide_password')}", class: 'plain') %>
    </fieldset>

    <fieldset>
      <%= hidden_field(:user, :subdomain, value:  Rails.application.config.subdomain_site) %>
    </fieldset>

    <%= f.submit "#{t('home.signup')}", class: button_color %>

  <% end %>
<% end %>