<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <fieldset>
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, id: "new_email" %>
  </fieldset>

  <fieldset>
    <%= f.label :password do %>
      Password
      <% if @minimum_password_length %>
        <i class="note">(<%= @minimum_password_length %> characters minimum)</i>
      <% end %>
    <% end %>
    <%= f.password_field :password, autocomplete: "off", id: "new_password" %>
  </fieldset>

  <fieldset>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </fieldset>

  <%= f.submit "Sign up" %>

<% end %>

<%= render "devise/shared/links" %>
