<% if top_level_domain? %>
  <h2 class="text-color"><%= t('home.signup_notice') %></h2>
  <p><%= t('login_signup.notice_to_users') %></p>
<% else %>
  <h2 class="text-color"><%= t('home.signup') %></h2>
  <p><%= t('login_signup.want_to_take_a_course') %></p>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render partial: 'devise/shared/error_messages', resource: resource %>

    <% if @library_card_login %>
      <div class="form-group no-bottom-margin">
        <%= label_tag :library_card_number, t('login_signup.library_card_number'), class: "screen-reader-text" %>
        <%= f.text_field :library_card_number, autofocus: true, id: "library_card_number", placeholder: "#{t('login_signup.library_card_number')} *" %>
      </div>
    <% else %>
      <div class="form-group no-bottom-margin">
        <%= label_tag "signup_email", "Email", class: "screen-reader-text" %>
        <%= f.email_field :email, autofocus: true, id: "signup_email", placeholder: "#{t('login_signup.email')} *" %>
      </div>

      <p class="small-14 grey extra-bottom-margin">
        <%= t('login_signup.dont_have_email') %> <%= link_to "#{t('login_signup.click_here_for_tutorial')}", "#{t('login_signup.tutorial_link')}", target: "_blank" %> <%= t('login_signup.tutorial_description') %>
      </p>
    <% end %>

    <%= f.fields_for :profile, resource.profile || resource.build_profile do |p| %>
      <div class="form-group">
        <%= p.label :first_name, class: "screen-reader-text" %>
        <%= p.text_field :first_name, placeholder: "#{t('login_signup.first_name')} *" %>
      </div>

      <% if current_organization.accepts_programs? %>
        <div class="form-group">
          <%= p.label :last_name, class: "screen-reader-text" %>
          <%= p.text_field :last_name, placeholder: "#{t('login_signup.last_name')} *" %>
        </div>
      <% end %>

      <div class="form-group">
        <%= p.label :zip_code, class: "screen-reader-text" %>
        <%= p.text_field :zip_code, placeholder: "#{t('login_signup.zip_code')}" %>
      </div>

      <% if current_organization.branches? && current_organization.library_locations.present? %>
        <div class="form-group">
          <%= label_tag "chzn", "Select Your Library", class: "screen-reader-text" %>
          <%= p.select(:library_location_id, branch_options_for(current_organization, selected: p.object.library_location_id),
              { include_blank: t('login_signup.your_library') }, id: "chzn", class: 'style-select2' ) %>
        </div>

        <% if current_organization.accepts_custom_branches? %>
          <%= render partial: 'shared/custom_branch_form', locals: { profile_form: p } %>
        <% end %>
      <% end %>
    <% end %>

    <% if @library_card_login %>
      <div class="form-group">
        <%= label_tag "library_card_pin", t("login_signup.library_card_pin"), class: "screen-reader-text" %>
        <%= f.text_field :library_card_pin, { autocomplete: "off", autocorrect: "off",  autocapitalize: "off", spellcheck: "false", id: "library_card_pin", placeholder: "#{t('login_signup.library_card_pin')} *" } %>
      </div>
    <% else %>
      <div class="form-group">
        <%= label_tag "signup_password", t("login_signup.your_password"), class: "signup-label" %>
        <%= f.text_field :password, { autocomplete: "off", autocorrect: "off",  autocapitalize: "off", spellcheck: "false",  id: "signup_password",  placeholder: "#{t('login_signup.your_password')} *" } %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, class: "screen-reader-text" %>
        <%= f.text_field :password_confirmation, { autocomplete: "off",  autocorrect: "off",  autocapitalize: "off", spellcheck: "false",  placeholder: "#{t('login_signup.re_enter_password')} *" } %>
      </div>

      <div class="form-group">
        <%= check_box_tag('hide_signup_pass', '1', false, onchange: 'hide_signup_password(this);') %>
        <%= label_tag('hide_signup_pass', "#{t('login_signup.hide_password')}", class: 'plain') %>
      </div>
    <% end %>

    <% if current_organization.accepts_programs? %>
      <%= render partial: 'devise/registrations/programs_registration_form', locals: { f: f } %>
    <% end %>

    <% if current_organization.accepts_partners? && !current_organization.partners.empty? %>
      <%= render partial: 'devise/registrations/partners_registration_form', locals: { f: f } %>
    <% end %>

    <%= hidden_field(:user, :subdomain, value: current_organization.subdomain) %>

    <div class="form-group">
      <%= recaptcha_tags %>
    </div>

    <%= f.submit t("home.signup"), class: "button-color" %>

  <% end %>
<% end %>
