<fieldset>
  <%= f.label :library_card_number, t('profile_page.program'), class: 'signup-label' %>
  <%= f.text_field :library_card_number, placeholder: "#{t('profile_page.library_card_number')}" %>
</fieldset>

<p class="small-14 grey extra-bottom-margin">
  <%= t('login_signup.dont_have_library_card') %> <%= link_to "#{t('login_signup.click_here')}", "https://library.nashville.org/get-card", target: "_blank" %> <%= t('login_signup.register_for_library_card') %>
</p>

<fieldset>
  <%= select_tag :organization_program, options_for_select(current_organization.programs.map{ |p| [p.program_name, p.id] }), include_blank: "#{t('profile_page.no_program')}" %>
</fieldset>

<div id="conditional_program_fields" class="extra-bottom-margin">
  <div id="program_location_fields" class="hideUntilActive">
    <%= render partial: "devise/registrations/program_locations_form", locals: { f: f } %>
  </div>

  <div id="school_fields" class="hideUntilActive">
    <%= render partial: "devise/registrations/schools_form", locals: { f: f } %>
  </div>
</div>
