<div class="form-row">
  <%= f.label :acting_as, t('login_signup.parent_student'), class: "signup-label" %>
  <%= f.select :acting_as, options_for_select(['Student', 'Parent'], resource.acting_as), class: "bottom-margin" %>
</div>


<div id="student-only">
  <div class="form-row">
    <%= f.label :grade, t('login_signup.grade'), class: "signup-label" %>
    <%= f.select :grade, (1..12) %>
  </div>

  <fieldset>

    <h3><%= t('login_signup.select_school') %></h3>

    <div class="form-row">
      <%= label_tag :school_type, t('login_signup.school_type'), class: "signup-label" %>
      <%= select_tag :school_type, options_for_select(school_type_options), { prompt: "Select School Type..." } %>
    </div>

    <div class="form-row hideUntilActive">
      <%= f.label :school_id, t('login_signup.school'), class: "signup-label" %>
      <%= f.collection_select :school_id, [], :id, :school_name, { prompt: "Select School..." } %>
    </div>

  </fieldset>

  <div class="form-row">
    <%= f.label :student_id, t('login_signup.student_id'), class: "signup-label" %>
    <%= f.text_field :student_id, placeholder: "Student ID # *", required: true %>
  </div>

</div>
