<div id="schoolFields">
  <div class="form-group">
    <%= f.label :role, t('login_signup.parent_student'), class: "signup-label" %>
    <%= f.select :acting_as, options_for_select(['Parent', 'Student'], resource.acting_as), class: "bottom-margin" %>
  </div>

  <div class="form-group">
    <%= f.text_field :student_id, placeholder: "Students' ID #s" %>
  </div>

  <div id="student-only" class="hideUntilActive">
    <div class="form-group">
      <%= f.label :date_of_birth, t('login_signup.birthday'), class: "signup-label signup-label-no-margin" %>
      <div class="date-select">
        <%= f.date_select :date_of_birth, order: [:month, :day, :year], start_year: 1990, end_year: Date.today.year %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :grade, t('login_signup.grade'), class: "signup-label signup-label-no-margin" %>
      <div class="row no-margin">
        <div class="threecol">
          <%= f.select :grade, (1..12) %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :school, t('login_signup.school'), class: "signup-label signup-label-no-margin" %>
      <%= f.collection_select :school_id, current_organization.schools.enabled, :id, :school_name, { include_blank: "Select School" }, class: "select-large" %>
    </div>
  </div>
</div>
