<div>
  <%= link_to edit_admin_course_lesson_path(course, lesson), class: "transparent" do %>
    <div class="lesson-block">
      <div class="default-state">
        <div class="lesson-title-admin"><%= lesson.title %></div>
      </div>
      <div class="hover-state">
        <i class="icon-arrow"></i>
        <div>
          <i class="icon-clock"></i>
          <span class="lesson-duration"><%= Duration.duration_str(lesson.duration) %></span>
        </div>
        <h2 class="lesson-title-admin"><%= lesson.title %></h2>
        <p class="lesson-summary"><%= lesson.summary %></p>
      </div>
    </div>
  <% end %>
</div>
