<% course.lessons.each_with_index do |l, index| %>
  <% if index % 4 == 0 %>
    <div class="row">
  <% end %>

    <div class="three-col<% if index % 4 == 3 %> last<% end %>">
      <div class="lesson-block">
        <div class="default-state">
          <div class="lesson-order"><%= l.order %></div>
          <div class="lesson-title"><%= l.title %></div>
          <div class="lesson-duration"><i class="icon-clock"></i><%= l.duration %></div>
        </div>
        <div class="hover-state">
          <div class="lesson-title-hover"><%= l.title %></div>
          <div class="lesson-order"><%= l.order %></div>
          <div class="lesson-duration"><i class="icon-clock"></i><%= l.duration %></div>
          <%= link_to "Start Lesson", course_lesson_path(course, l), class: "btn small" %>
        </div>
      </div>
    </div>

    <% if index % 4 == 3 %>
      </div>
    <% end %>
  <% end %>
</div>