<div class="lesson-block <% if completed %>completed<% end %>"
  onclick="window.location='<%= course_lesson_path(course, lesson) %>'">
  <div class="default-state">
    <% if completed %>
      <i class="icon-ok"></i>
    <% end %>
    <div class="lesson-order"><%= lesson.lesson_order %></div>
    <div class="lesson-title"><%= lesson.title %></div>
    <div class="lesson-duration"><i class="icon-clock"></i><%= Duration.duration_str(lesson.duration) %></div>
  </div>
  <div class="hover-state">
    <i class="icon-arrow"></i>
    <div class="align-left">
      <span class="lesson-order"><%= lesson.lesson_order %></span>
      <i class="icon-clock"></i>
      <span class="lesson-duration"><%= Duration.duration_str(lesson.duration) %></span>
    </div>
    <h1 class="lesson-title"><%= lesson.title %></h1>
    <p class="lesson-description"><%= lesson.summary %></p>
    <%= link_to "Start Lesson", course_lesson_path(course, lesson), class: "btn small" %>
  </div>
</div>