<div class="lesson-block hover<% if completed %> completed<% end %>"
  onclick="window.location='<%= course_lesson_path(@course, lesson) %>'" data-cpl-ga-event="on" data-cpl-ga-value="user-click-lesson" tabindex=0>
  <div class="default-state">
    <% if completed %>
      <i class="icon-ok"></i>
    <% end %>
    <div class="lesson-order"><%= lesson.published_lesson_order %></div>
    <div class="lesson-title"><%= lesson.title.truncate(27) %></div>
    <div class="lesson-duration"><i class="icon-clock"></i>
      <%= Duration.duration_str(lesson.duration) %>
    </div>
  </div>
  <div class="hover-state">
    <i class="icon-arrow"></i>
    <div>
      <span class="lesson-order"><%= lesson.published_lesson_order %></span>
      <i class="icon-clock"></i>
      <span class="lesson-duration"><%= Duration.duration_str(lesson.duration) %></span>
    </div>
    <h2 class="lesson-title"><%= lesson.title.truncate(23) %></h2>
    <p class="lesson-summary"><%= lesson.summary.truncate(85) %></p>
    <%= link_to course_lesson_path(@course, lesson), data: { cpl_ga_event: "on", cpl_ga_value: "user-start-lesson" } do %>
      <% if I18n.locale == :es %>
        <div class="btn small-lesson-button spanish-small button-color">
          <%= t("course_page.start_lesson") %>
        </div>
      <% else %>
        <div class="btn small-lesson-button button-color">
          <%= t("course_page.start_lesson") %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
