<div class="lesson-block <% if completed %>completed<% end %>"
  onclick="window.location='<%= course_lesson_path(course, lesson) %>'" data-cpl-ga-event="on" data-cpl-ga-value="user-click-lesson">
  <div class="default-state">
    <% if completed %>
      <i class="icon-ok"></i>
    <% end %>
    <div class="lesson-order"><%= lesson.lesson_order %></div>
    <div class="lesson-title"><%= lesson.title %></div>
    <div class="lesson-duration"><i class="icon-clock"></i>
      <%= Duration.duration_str(lesson.duration) %>
    </div>
  </div>
  <div class="hover-state">
    <i class="icon-arrow"></i>
    <div>
      <span class="lesson-order"><%= lesson.lesson_order %></span>
      <i class="icon-clock"></i>
      <span class="lesson-duration"><%= Duration.duration_str(lesson.duration) %></span>
    </div>
    <h1 class="lesson-title"><%= lesson.title %></h1>
    <p class="lesson-summary"><%= lesson.summary %></p>
    <%= link_to course_lesson_path(course, lesson), data: { cpl_ga_event: "on", cpl_ga_value: "user-start-lesson" } do %>
      <div class="btn small-lesson-button">
        <%= t('course_page.start_lesson') %>
      </div>
    <% end %>
  </div>
</div>
