<div class="container">
  <div class="row">
    <div class="twelvecol last">
      <h2 class="text-color"><%= t('course_page.click_here_for_text_copy_course') %></h2>
      <% if @course.supplemental_attachments.count > 0 %>
        <ul class="no-padding">
        <%# TODO: make this a model method %>
        <% course.supplemental_attachments.each do |a| %>
          <%= link_to course_attachment_path(course, a), target: "_blank", class: "block_link" do %>
            <li data-cpl-ga-event="on" data-cpl-ga-value="supplemental-material-download" data-document-name='<%= "#{a.document_file_name}" %>'>
              <i class="icon-download download-color"></i><%= a.document_file_name %>
              <p class="note file-description"><%= a.file_description %></p>
            </li>
          <% end %>
        <% end %>
        </ul>
      <% else %>
        <div class="note"><%= t('course_page.there_is_no_text_copy_of_course') %></div>
      <% end %>
    </div>
  </div>
</div>

