<%= content_for(:callout) { "Admin Dashboard" } %>

<div class="row">
  <div class="four-col">
    <ul>
      <li>Change Login Information</li>
      <li>Update Profile</li>
      <li>Courses</li>
      <li>User Accounts</li>
    </ul>
  </div>
  <div class="eight-col last">
    <div class="row">
      <div class="seven-col">
        <h1>Courses</h1>
        <p><i>Sort by clicking column headers. <br> Edit by clicking the appropriate course below.</i></p>
      </div>
      <div class="three-col">
        <%= link_to "Add a New Course", new_admin_course_path, class: "btn" %>
      </div>
    </div>
    <div>
      <table style="width:100%">
        <tr>
          <th>Course</th>
          <th>Topic</th>
          <th>Language</th>
          <th>Status</th>
          <th>Contributor</th>
        </tr>
        <% @courses.each do |course| %>
          <tr>
            <td><%= link_to course.title, edit_admin_course_path(course) %></td>
            <td>
              <% course.topics.each do |topic| %>
                <%= topic.title %> &nbsp;
              <% end %>
            </td>
            <td><%= course.language.name %></td>
            <td><%= humanize_pub_status(course) %></td>
            <td><%= course.contributor.capitalize %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>