<small>Admin >> Courses >> Course Title >> Lessons</small>

<h1>Edit Lesson</h1>

<%= form_for( [:admin, @course, @lesson], html: { multipart: true } ) do |f| %>
  <% if @lesson.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>
      <ul>
      <% @lesson.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class='form-row'>
    <fieldset>
      <%= f.label :title, class: "text-color" do %>
        Lesson Title<span class="required"></span>
      <% end %>
      <%= f.text_field :title, maxlength: Lesson.max_length_for(:title)  %>
      <div class="character-limit note left-or-right">&nbsp;</div>
    </fieldset>
  </div>

  <div class='form-row'>
    <fieldset>
      <%= f.label :summary, class: "text-color" do %>
        Lesson Summary<span class="required"></span>
      <% end %>
      <%= f.text_field :summary, maxlength: Lesson.max_length_for(:summary) %>
      <div class="character-limit note left-or-right">&nbsp;</div>
    </fieldset>
  </div>

  <div class="form-row inline">
    <div class="inline-item">
      <fieldset>
        <%= f.label :duration, class: "text-color" do %>
          Duration<span class="required"></span>
        <% end %>
        <p class="note">Enter the estimated amount of time that this lesson
        will take to complete in the following format (MM:SS).</p>
        <%= f.text_field :duration, value: @lesson.duration_str %>
      </fieldset>
    </div>

    <div class="inline-item">
      <% if @lesson.story_line.blank? %>
        <fieldset>
          <%= f.label :story_line, class: "text-color" do %>
            Articulate Storyline Package<span class="required"></span>
          <% end %>
          <p class="note">Upload a zip file containing all of the directories and
          files exported from Articulate for this lesson.</p>
          <%= f.file_field :story_line, class: "upload-field" %>
        </fieldset>
      <% else %>
        <fieldset>
          <%= f.label :story_line, class: "text-color" do %>
            Articulate Storyline Package<span class="required"></span>
          <% end %>
          <p class="note">There can only be one story line per lesson. If you want
          to upload a new one, you need to delete the current one first.</p>
          <p class="upload-field">
            <%= @lesson.story_line.instance.story_line_file_name %>
              <%= link_to "Remove", destroy_asl_attachment_admin_course_lessons_path(@course, @lesson), method: "delete", data: { confirm: "Are you sure?" } %>
          </p>
        </fieldset>
      <% end %>
    </div>
  </div>

  <div class='form-row'>
    <fieldset>
      <%= f.label :seo_page_title, class: "text-color" do %>
        Page Title
      <% end %>
      <%= f.text_field :seo_page_title, maxlength: Lesson.max_length_for(:seo_page_title) %>
      <div class="character-limit note left-or-right">&nbsp;</div>
    </fieldset>
  </div>

  <div class='form'>
    <fieldset>
      <%= f.label :meta_desc, class: "text-color" %>
      <%= f.text_field :meta_desc, maxlength: Lesson.max_length_for(:meta_desc) %>
      <div class="character-limit note left-or-right">&nbsp;</div>
    </fieldset>
  </div>

  <div class="form-row inline">
    <fieldset class="inline-item">
      <%= f.label :pub_status, class: "text-color" do %>
        Publication Status<span class="required"></span>
      <% end %>
      <%= f.select(:pub_status, options_for_select([["Draft", "D"], ["Published", "P"]], @lesson.pub_status), { include_blank: "Select..." } ) %>
    </fieldset>

    <fieldset class="inline-item">
      <%= f.label :is_assessment, class: "text-color" do %>
        Assessment<span class="required"></span>
      <% end %>
      <p class="note">Is this lesson the final assessment for the course?</p>
      <%= f.radio_button :is_assessment, true %>
      <%= f.label :is_assessment_true, "Yes", class: "plain" %>
      <%= f.radio_button :is_assessment, false %>
      <%= f.label :is_assessment_false, "No", class: "plain" %>
    </fieldset>
  </div>

  <% if top_level_domain? %>
    <div class="form-row">
      <fieldset>
        <%= f.label :propagation_org_ids, 'Propagate these changes to subsite lessons for:', class: "text-color" %>

        <%= f.collection_check_boxes :propagation_org_ids, Organization.using_lesson(@lesson.id), :id, :name  do |b| %>
          <div>
            <%= b.check_box(checked: @lesson.propagation_org_ids.include?(b.object)) %>
            <%= b.label class: "plain" %>
          </div>
        <% end %>
      </fieldset>
    </div>
  <% end %>

  <%= f.hidden_field :subdomain, value: current_organization.subdomain %>

  <%= f.button :submit, class: "btn button-color loading-button" do %>
    <span class='loader-label'>Save Lesson</span>
    <%= render 'shared/loader' %>
  <% end %>
<% end %>
