<%= render "form" %>

<hr>

<h1>Lessons</h1>

<p class="emphasis">
  Drag and drop the lessons to reorder them. Click on a lesson to edit it in the form above.
</p>
<div>

  <div class="container">
    <% @course.lessons.each do |lesson| %>
      <%= link_to edit_admin_course_lesson_path(@course, lesson), class: "transparent" do %>
        <div class="lesson-block">
          <div class="default-state">
            <div class="lesson-order"><%= lesson.lesson_order %></div>
            <div class="lesson-title"><%= lesson.title %></div>
          </div>
          <div class="hover-state">
            <i class="icon-arrow"></i>
            <div>
              <span class="lesson-order"><%= lesson.lesson_order %></span>
              <i class="icon-clock"></i>
              <span class="lesson-duration"><%= Duration.duration_str(lesson.duration) %></span>
            </div>
            <h1 class="lesson-title"><%= lesson.title %></h1>
            <p class="lesson-summary"><%= lesson.summary %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div>
  <%= link_to  "Return To Courses", admin_dashboard_index_path, class: "btn-grey" %>
</div>