<%= render "form" %>

<hr>

<h1>Lessons</h1>
<p class="emphasis">
  Drag and drop the lessons to reorder them. Click on a lesson to edit it in the form above.
</p>
<div class="clearfix">
  <div class="sortable-list" data-page="lessons">
    <div class="lesson-blocks objects sortable grid reorderable">
      <% @course.lessons.where.not(pub_status: "A").each do |lesson| %>
        <div class="sortable-item" data-id="<%= lesson.id %>">
          <%= render partial: "shared/lessons/admin_lesson_grid", locals: { course: @course, lesson: lesson } %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= link_to new_admin_course_lesson_path, class: "transparent btn button-color" do %>
  Add Another Lesson
<% end %>

<%= link_to edit_admin_course_path(@course), class: "transparent btn btn-grey" do %>
  Return To Course Edit Page
<% end %>
