<header class="header-logged-in">
  <div class="container">

    <div class="language-links">
      <small>
        <%= link_to "English", "#" %> | <%= link_to "Espa&ntilde;ol".html_safe, "#" %>
      </small>
    </div>

    <%= render "shared/logo_purple" %>

    <nav>
      <%= link_to "Hi #{current_user.profile.first_name}!", profile_path %> |
      <%= link_to "Your Account", account_path %> |
      <%= link_to "My Courses", your_courses_path %> |
      <%= link_to "Sign Out", destroy_user_session_path, method: "delete" %>
    </nav>
  </div>
</header>
