<header class="header-logged-in <%= "lesson-header" if request.path.include?("/lessons/")%>">
  <div class="container">
    <div class="language-links">
      <%= render "shared/language_links" %>
    </div>
    <div class="logo-link-container">
      <%= render "shared/logo_purple" %>
      <div class="search-container">
        <div class="signup-box">
          <nav class="left-or-rignt header-top-nav">
            <%= link_to "#{t('logged_in_user.hi')} #{current_user.profile.first_name}!", profile_path %> |
            <% if current_user.has_role?(:trainer, current_organization) %>
              <%= link_to "Cyber Navigator Dashboard", trainer_dashboard_index_path %> |
            <% end %>
            <%= link_to "#{t('logged_in_user.my_account')}", account_path %> |
            <%= link_to "#{t('logged_in_user.my_courses')}", your_courses_path %> |
            <%= link_to "#{t('logged_in_user.all_courses')}", root_path %> |
            <%= link_to "#{t('logged_in_user.sign_out')}", destroy_user_session_path, method: "delete" %>
          </nav>
        </div>

        <div class="alternate-search-box">
          <%= form_tag courses_path, method: :get do %>
            <%= search_field_tag :search, params[:search], placeholder: "#{t('home.search_courses')}" %>
            <i class="icon-search grey"></i>
            <%= submit_tag "Search", id: "search_btn" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</header>
