<header class="header-logged-in <%= "lesson-header" if request.path.include?("/lessons/")%>">
  <div class="container">

    <div class="language-links">
      <% unless current_user %>
        <small>
          <%= link_to "English", "#",  class: "lang-link" %> | <%= link_to "Espa&ntilde;ol".html_safe, "#",  class: "lang-link" %>
        </small>
      <% end %>
    </div>
    <div class="logo-link-container">
      <%= render "shared/logo_purple" %>
      <nav class="header-top-nav">
        <%= link_to "#{t('logged_in_user.hi')} #{current_user.profile.first_name}!", profile_path %> |
        <%= link_to "#{t('logged_in_user.my_account')}", account_path %> |
        <%= link_to "#{t('logged_in_user.my_courses')}", your_courses_path %> |
        <%= link_to "#{t('logged_in_user.sign_out')}", destroy_user_session_path, method: "delete" %>
      </nav>
    </div>
  </div>
</header>
