<h2 class="text-color"><%= t('my_courses_page.my_plan_click_to_start') %></h2>

<p>
  <%= t("my_courses_page.#{current_organization.subdomain}.course_color_explaination", default: t("my_courses_page.default_org.course_color_explaination")) %>
  <%= t("my_courses_page.add_more") %>
  <%= link_to "#{ t('my_courses_page.click_here_to_homepage') }", root_path %>

  <% unless current_user.profile.opt_out_of_recommendations %>
    <%= t('my_courses_page.completed_most_courses') %> <%= link_to "#{t('my_courses_page.click_here_to_quiz')}", new_quiz_response_path %>
    <%= t('my_courses_page.well_suggest_more_courses') %>
  <% end %>
</p>

<%= render partial: "shared/courses/listing" %>

<% if @results && @results.blank? %>
  <p>No courses match your search. <%= link_to "View all your courses", my_courses_path %></p>
<% end %>
