<% if child_index.present? %>
  <%= f.fields_for :program_locations, child_index: child_index do |p| %>
    <div class="row locationFormRow">
      <div class="sixcol">
        <%= p.text_field :location_name %>
      </div>
      <div class="twocol">
        <a href="#" onclick="removeLocation($(this)); return false;">
          <%= button_tag "Remove", type: "button" %>
        </a>
      </div>
    </div>
  <% end %>
<% else %>
  <%= f.fields_for :program_locations do |p| %>
    <div class="row locationFormRow">
      <div class="sixcol">
        <%= p.text_field :location_name %>
      </div>
      <div class="twocol">
        <a href="#" onclick="removeLocation($(this)); return false;">
          <%= button_tag "Remove", type: "button" %>
        </a>
      </div>
    </div>
  <% end %>
<% end %>

