<%= content_for(:callout) { %><h1>Admin Dashboard</h1><% } %>

<h2>Manage Programs</h2>

<ul class='admin-resource-list'>
  <% @programs.each do |program| %>
    <li class='resource-row'>
      <div class='resource-title'>
        <%= program.program_name %>
      </div>
      <div class='resource-link'>
        <% if program.location_required? %>
          <%= link_to  "Edit", edit_admin_program_path(program) %>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>

<%= link_to new_admin_program_path do %>
  <%= button_tag "Add New Program" %>
<% end %>
