<div class="certificate-preview">
  <div class="inner">
    <h1><%= t('completed_courses_page.certificate_of_completion') %></h1>
    <p>
      <%= t('certificate.this_award') %>
    </p>
    <% if current_user %>
      <%= content_tag :h2, "#{current_user.full_name}", class: "name" %>
    <% else %>
      <%= t('certificate.name_fill') %>
    <% end %>
    <p>
      <%= t('certificate.has_completed') %>
    </p>
    <%= content_tag :h2, "#{@course.title}", class: "course-title" %>
    <p>
      <%= t('certificate.as_of') %> <%= course_completion_date(current_user, @course) %>
    </p>
    <div class='certificate-logo'>
      <%= image_tag "dl_logo.png", alt: "DigitalLearn Logo" %>
    </div>
  </div>
</div>