<h2><%= t('account.my_completed_courses') %></h2>

<% if @courses.any? %>
  <table class="course-completions-table">
    <tr>
      <th><%= t('completed_courses_page.course') %></th>
      <th><%= t('completed_courses_page.date_completed') %></th>
      <th><%= t('completed_courses_page.certificate_of_completion') %></th>
    </tr>
    <% @courses.each do |course| %>
      <tr>
        <td>
          <%= course.title %>
        </td>
        <td>
          <%= course_completion_date(current_user, course) %>
        </td>
        <td>
          <%= link_to "Download Certificate", course_completion_path(course, format: 'pdf') %>
        </td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p><%= t('account.no_completed_courses') %></p>
<% end %>

<h2 class="text-color"><%= t('completed_courses_page.update_course_recommendations') %></h2>
<p>
  <%= t('completed_courses_page.when_you_signed_up_quiz') %>
</p>
<p>
  <%= t('completed_courses_page.have_you_completed_most_courses') %>
</p>
<%= link_to new_quiz_response_path do %>
  <%= button_tag(i18n_with_default("completed_courses_page.#{current_organization.subdomain}.retake_the_quiz"), type: "button", class: "button-color") %>
<% end %>
