<%= render partial: "shared/courses/metas" %>

<div><small><%= link_to "Courses", courses_path %> >> <%= @course.title %></small></div>

<div class="congrats-banner color">
  <div class="form-row">
    <% if current_user %>
      <%= content_tag :p, "#{t('course_completion_page.congratulations')}, #{current_user.profile.first_name}." %>
    <% end %>
    <%= content_tag :p, "#{t('course_completion_page.you_successfully_completed')} #{@course.title}!", class: "small-margin" %>
  </div>
  <%= render 'certificate' %>
  <div class="form-row">
    <%= link_to(course_completion_path(@course, format: 'pdf')) do %>
      <%= button_tag(type: 'button', class: "congrats-button button-color") do %>
        <%= t('course_completion_page.download_certificate') %>
      <% end %>
    <% end %>

    <% if @course.notes.present? || !@course.additional_resource_attachments.empty? %>
      <%= link_to(course_skills_path(@course)) do %>
        <%= button_tag(type: 'button', class: "congrats-button button-color") do %>
            <%= t('course_completion_page.practice_skills') %>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="form-row">
    <% if current_user %>
      <%= link_to(my_courses_path) do %>
        <%= button_tag(type: "button", class: "btn-grey bottom-button congrats-button button-color" ) do %>
          <%= t('course_completion_page.return_to_my_courses') %>
        <% end %>
      <% end %>
    <% end %>
    <%= link_to(courses_path) do %>
      <%= button_tag(type: "button", class: "btn-grey bottom-button congrats-button button-color") do %>
        <%= t('course_completion_page.view_all_courses') %>
      <% end %>
    <% end %>
  </div>
  <div class='form-row'>
    <%= render partial: 'user_survey' %>
  </div>
  <%= link_to "#{t('course_completion_page.restart_this_course')}", course_path(@course), class: "white" %>
</div>