<div class="cert-box">
  <h1><%= t('completed_courses_page.certificate_of_completion') %></h1>
  <p>
    <%= t('certificate.this_award') %>
  </p>
    <% if current_user %>
      <%= content_tag :h2, "#{current_user.first_name} #{current_user.last_name}", class: "name" %>
    <% else %>
      <br/><br/>
      <%= t('certificate.name_fill_long') %>
      <br/>
    <% end %>
  <p>
    <%= t('certificate.has_completed') %>
  </p>
  <%= content_tag :h2, "#{@course.title}", class: "course" %>
  <p>
    <%= t('certificate.as_of') %> <%= course_completion_date(current_user, @course) %>
  </p>
  <%= wicked_pdf_image_tag "dl_logo.png" %>
</div>
