<!DOCTYPE html>
<html>
<head>
  <%= render "shared/meta_tags" %>
</head>
<body>
  <%= render "shared/admin/header" %>

  <div class="banner large-top-padding">
    <div class="container">
      <% if content_for?(:callout) %>
        <%= yield :callout %>
      <% else %>
        <h1>Use a computer to do almost anything!</h1>
      <% end %>
    </div>
  </div>

  <main class="container">
    <%= render "shared/flashes" %>
    <div class="row">
      <div class="threecol sidebar">
        <%= render "shared/admin/sidebar" %>
      </div>
      <div class="ninecol last">
        <%= yield %>
      </div>
    </div>
  </main>

  <%= render "shared/footer" %>
</body>
</html>
