<!DOCTYPE html>
<html>
<head>
  <%= render "shared/meta_tags" %>
</head>
<body>
  <%= render "shared/admin/header" %>

  <div class="banner large-top-padding">
    <div class="container">
      <% if content_for?(:callout) %>
        <%= yield :callout %>
      <% else %>
        <h1>Connect to the Digital World</h1>
      <% end %>
    </div>
  </div>

  <main class="container">
    <%= render "shared/flashes" %>
    <%= yield %>
  </main>

  <%= render "shared/footer" %>
</body>
</html>
