<%= content_for(:callout) { %><h2>Admin Dashboard</h2><% } %>

<h2>CMS Pages</h2>

<div class="row">
  <div class="sixcol">
    <p class="emphasis no-top-margin">
      Re-order pages by clicking on the arrow icon to drag and drop courses. Edit by clicking the appropriate page title below.
    </p>
  </div>
  <div class="sixcol last left-or-right">
    <%= link_to "Add a New CMS Page", new_admin_cms_page_path, class: "btn" %>
  </div>
</div>

<div class="sortable-list"  data-page="cms_pages" >
  <div class="list-titles">
    <div class="cell">Page Title</div>
    <div class="cell">Author</div>
    <div class="cell">Language</div>
    <div class="cell">Publication Status</div>
  </div>
  <ul class="objects sortable reorderable">
    <% @cms_pages.each do |page| %>
      <li class="sortable-item" data-id="<%= page.id %>">
        <div class="cell"><%= link_to page.title, edit_admin_cms_page_path(page) %></div>
        <div class="cell"><%= page.author %></div>
        <div class="cell"><%= page.language.name %></div>
        <div class="cell"><%= select_tag "page_#{page.id}", options_for_select([["Publish", "P"], ["Draft", "D"], ["Archive", "A"]], page.pub_status), data: { page_id: page.id }, class:"page_pub small narrow", method: :patch %>
          <% unless page.pub_date.blank? %>
            <span class="note">(<%= page.pub_date.strftime("%m/%d/%Y") %>)</span>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
</div>
