<header class="header-logged-in <%= "lesson-header" if request.path.include?("/lessons/")%>">
  <div class="container">
    <div class="language-links">
      <%= render "shared/language_links" %>
      <% if current_organization.subdomain == "www" %>
        <small>
          <%= link_to "Help Learners", "http://community.digitallearn.org", class: "practice-link" %>
        </small>
      <% end %>
    </div>
    <div class="logo-link-container">
      <%= render "shared/logo_purple" %>
      <div class="search-container">
        <div class="signup-box">
          <%= link_to "#{t('home.signup')} / #{t('home.login')}", login_path, class: "btn" %>
        </div>
        <div class="alternate-search-box">
          <%= form_tag courses_path, method: :get do %>
            <%= search_field_tag :search, params[:search], placeholder: "#{t('home.search_courses')}" %>
            <i class="icon-search grey"></i>
            <%= submit_tag "Search", id: "search_btn" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</header>
