<header class="header-logged-in <%= "lesson-header" if request.path.include?("/lessons/")%>">
  <div class="container">
    <div class="language-links">
      <%= render "shared/language_links" %>
      <%= render "shared/trainers_link" %>
    </div>
    <div class="logo-link-container">
      <%= render "shared/logo_purple" %>
      <div class="search-container">
        <div class="signup-box">
          <%= link_to "#{t('home.signup')} / #{t('home.login')}", login_path, class: "btn" %>
        </div>
        <div class="alternate-search-box">
          <%= render "shared/search_box" %>
        </div>
      </div>
    </div>
  </div>
</header>
