<% if user_signed_in? && current_user.is_admin? %>
  <%= content_for(:callout) { %><h1>Hi Admin! Use a computer to do almost anything!</h1><% } %>
  <h1>
    Edit a course by clicking on a course below, search courses or navigate to the
    <%= link_to "Admin Dashboard", admin_dashboard_index_path %>.
  </h1>
  <div class="row no-bottom-margin">
    <div class="right-third">
      <%= render partial: "shared/courses/search_box" %>
    </div>
  </div>
<% elsif user_signed_in? %>
  <%= content_for(:callout) do %>
    <h1>Hi <%=current_user.profile.first_name%>! Use a computer to do almost anything.</h1>
  <% end %>
  <h1>
    Choose a course below to start learning, search courses, or visit
    <%= link_to "My Courses", your_courses_path %> to view your customized learning plan.
  </h1>

  <div class="row no-bottom-margin">
    <div class="right-third">
      <%= render partial: "shared/courses/search_box" %>
    </div>
  </div>
<% else %>
  <h1><%= t('home.choose_a_course') %></h1>

  <div class="clearfix">
    <p class="no-top-margin left-two-thirds"><%= t("home.new_to_computers") %></p>

    <%= render partial: "shared/courses/search_box" %>
  </div>
<% end %>
