<% if user_signed_in? && current_user.is_admin? %>
  <%= content_for(:callout) { "Hi Admin! Connect to the Digital World." } %>
  <div class="row">
    <h1>
      Edit a course by clicking on a course below, search courses or navigate to the
      <%= link_to "Admin Dashboard", admin_dashboard_index_path %>.
    </h1>
  </div>

  <div class="row">
    <div class="eightcol">&nbsp;</div>
    <div class="fourcol">
      <%= render partial: "shared/courses/search_box" %>
    </div>
  </div>

<% elsif user_signed_in? %>
  <%= content_for(:callout) { "Hi #{current_user.profile.first_name}! Connect to the Digital World." } %>
  <div class="row">
    <h1>
      Choose a course below to start learning, or visit
      <%= link_to "Your Courses", your_courses_path %> to view your customized learning plan.
    </h1>
  </div>

  <div class="row">
    <div class="eightcol">&nbsp;</div>
    <div class="fourcol">
      <%= render partial: "shared/courses/search_box" %>
    </div>
  </div>

<% else %>
  <div class="row">
    <h1>Choose a course below to start learning.</h1>
  </div>

  <div class="row">
    <div class="eightcol">
      <p>If you are new to computers, haven't used them for a while, are a little unsure and uncomfortable, or just need a bit of a refresher, we have the tools to help you tackle technology at your own pace and gain the confidence you need to succeed.</p>
    </div>

    <div class="fourcol">
      <%= render partial: "shared/courses/search_box" %>
    </div>
  </div>
<% end %>
