<% if user_signed_in? && current_user.has_role?(:admin, Organization.find_by_subdomain(request.subdomain)) %>
  <%= content_for(:callout) { %><h1>Hi Admin! <%= t('home.logo_banner') %></h1><% } %>
  <h1>
    Edit a course by clicking on a course below, search courses or navigate to the
    <%= link_to "Admin Dashboard", admin_dashboard_index_path %>.
  </h1>
  <div class="row no-bottom-margin">
    <div class="right-third">
      <%= render partial: "shared/courses/search_box" %>
    </div>
  </div>
<% elsif user_signed_in? %>
  <%= content_for(:callout) do %>
    <h1><%= t('logged_in_user.hi') %> <%=current_user.profile.first_name%>! <%= t("home.logo_banner") %></h1>
  <% end %>
  <h1>
    <%= t('logged_in_user.choose_a_course') %>
    <%= link_to "#{t('logged_in_user.my_courses_link')}", your_courses_path %> <%= t('logged_in_user.view_your_customized_plan') %>
  </h1>

  <div class="row no-bottom-margin">
    <div class="right-third">
      <%= render partial: "shared/courses/search_box" %>
    </div>
  </div>
<% else %>
  <h1 class="centered"><%= t('home.choose_a_course') %></h1>

  <div class="clearfix">
    <p class="no-top-margin left-two-thirds"><%= t("home.new_to_computers") %></p>

    <%= render partial: "shared/courses/search_box" %>
  </div>
<% end %>
