<header class="header-logged-out">
  <div class="container">
    <div class="language-links">
      <small><%= link_to "English", "#" %> | <%= link_to "Espa&ntilde;ol".html_safe, "#" %></small>
    </div>
    <%= link_to root_url(subdomain: request.subdomain) do %>
      <div>
        <% case request.subdomain %>
        <% when "admin" %>
          <%= render "shared/logo_white" %>
        <% else %>
          <%= render "shared/logo_white" %>
          <% if content_for?(:callout) %>
            <%= yield :callout %>
          <% else %>
            <h1>Use a computer to do almost anything!</h1>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <%= link_to "Sign Up / Log In", login_path, class: "btn" %>
  </div>
</header>
