<header class="header-logged-out" >
  <div class="container">
    <div class="language-links">
      <small><%= link_to "English", home_language_toggle_path(lang: "en") %> | <%= link_to "Espa&ntilde;ol".html_safe, home_language_toggle_path(lang: "es") %></small>
    </div>
    <div class="logo-link-container">
      <div class="html5-link">
        <%= link_to root_url(subdomain:  Rails.application.config.subdomain_site), class: 'logo-link' do %>
          <div class="link-box">
            <% case  Rails.application.config.subdomain_site %>
            <% when "www" %>
            <%= render "shared/logo_purple" %>
          <% else %>
            <%= render "shared/logo_white" %>
            <% if content_for?(:callout) %>
              <%= yield :callout %>
            <% else %>
              <h1>
                <% if Rails.application.config.subdomain_site == 'chipublib' %>
                  <%= t('home.logo_banner_html') %>
                <% else %>
                  <%= t('home.logo_banner_partial_2') %>
                <% end %>
              </h1>
            <% end %> <%# End callout if %>
          <% end %> <%# End case end %>
        </div>
      <% end %> <%# End big old link %>
    </div>
    <div class="signup-box">
      <%= link_to "#{t('home.signup')} / #{t('home.login')}", login_path, class: "btn" %>
    </div>
    <div class="search-box">
      <%= form_tag courses_path, method: :get do %>
        <%= search_field_tag :search, params[:search], placeholder: "#{t('home.search_courses')}" %>
        <i class="icon-search white"></i>
        <%= submit_tag "Search", id: "search_btn" %>
      <% end %>
    </div>
  </div>
</div>
</header>