<header class="header-logged-out" >
  <div class="container">
    <div class="language-links">
      <%= render "shared/language_links" %>
    </div>
    <div class="logo-link-container">
      <div class="html5-link">
        <%= link_to root_url(subdomain: current_organization.subdomain), class: 'logo-link' do %>
          <div class="link-box">
            <% case current_organization.subdomain %>
            <% when "www" %>
              <%= render "shared/logo_purple" %>
            <% else %>
              <%= render "shared/logo_white" %>
            <% if content_for?(:callout) %>
              <%= yield :callout %>
            <% else %>
              <%= render "shared/logo_banner" %>
            <% end %>
          <% end %> <%# End case end %>
        </div>
      <% end %> <%# End big old link %>
    </div>
    <div class="signup-box">
      <%= link_to "#{t('home.signup')} / #{t('home.login')}", login_path, class: "btn" %>
    </div>
    <div class="search-box">
      <%= render "shared/search_box" %>
    </div>
  </div>
</div>
</header>
