<div class="logo">
  <div class="logo-icon">
    <div class="ninecol right-logo">
      <% if subdomain? %>
        <%= link_to footer_logo_link_url || '#', target: "_blank" do %>
          <%= safe_logo_tag footer_logo_url, class: "medium-logo link-#{current_organization.subdomain}" %>
        <% end %>
      <% end %>

      <%= link_to "http://www.ala.org/pla/", target: "_blank" do %>
        <% if top_level_domain? %>
          <%= image_tag "pla_logo_black.png", class: "link-pla" %>
        <% else %>
          <%= image_tag "pla_logo_white.png", class: "link-pla" %>
        <% end %>
      <% end %>

      <div class="license">
        This work is licensed under a Creative Commons Attribution-ShareAlike 3.0 Unported License
      </div>
    </div>
  </div>
</div>
