<div class="logo">
  <div class="logo-icon">
    <div class="ninecol right-logo">
      <% case request.subdomain %>
      <% when "chipublib" %>
        <%= link_to "http://www.chipublib.org/", target: "_blank" do %>
          <%= image_tag "seal_white_on_transparent", class: "medium-logo link-cpl" %>
        <% end %>
      <% when "www" %>
        <%= link_to "http://digitallearn.org/", target: "_blank" do %>
          <%= image_tag "imls_logo_white", class: "imls-logo-large" %>
        <% end %>
      <% else %>
        &nbsp;
      <% end %>


      <%= link_to "http://www.ala.org/pla/", target: "_blank" do %>
        <%= image_tag "pla_logo_square_white", class: "medium-logo link-pla" %>
      <% end %>

      <div class="license">
        This work is licensed under a Creative Commons Attribution-ShareAlike 3.0 Unported License
      </div>
    </div>
  </div>
</div>
