<div class="footer-logo">
  <% if subdomain? %>
    <%= link_to footer_logo_link_url || "#", target: "_blank" do %>
      <% source = footer_logo_source %>

      <% if source.is_a?(ActiveStorage::Attached::One) && source.attached? %>
        <%= image_tag url_for(source),
              class: "medium-logo link-#{current_organization.subdomain}",
              alt: "#{current_organization.name} Footer Logo" %>
      <% else %>
        <%= safe_image_tag source,
              class: "medium-logo link-#{current_organization.subdomain}",
              alt: "#{current_organization.name} Footer Logo" %>
      <% end %>
    <% end %>
  <% end %>

  <%= link_to "http://www.ala.org/pla/", target: "_blank" do %>
    <%= image_tag "pla_logo_footer.png", class: "link-pla", alt: "Public Library Association Logo" %>
  <% end %>

  <div class="license">
    This work is licensed under a Creative Commons BY-NC-SA License
  </div>
</div>
