<div class="logo">
  <div class="logo-icon">
    <div class="fourcol right-logo">
      <% case request.subdomain %>
      <% when "chipublib" %>
        <%= link_to "http://www.chipublib.org/", target: "_blank" do %>
          <%= image_tag "seal_white_on_transparent", class: "medium-logo link-cpl" %>
        <% end %>
      <% when "admin" %>
        <%= link_to "http://digitallearn.org/", target: "_blank" do %>
          <%= image_tag "imls_logo_white", class: "imls-logo-large" %>
        <% end %>
      <% else %>
        &nbsp;
      <% end %>
    </div>
    <div class="fivecol last right-logo">
      <%= link_to "http://www.ala.org/pla/", target: "_blank" do %>
        <%= image_tag "pla_logo", class: "large-logo link-pla" %>
      <% end %>
    </div>
  </div>
</div>
