<h1 class="slogan">
  <% if current_user&.phone_number_user? %>
    <%= t('logged_in_user.hi') %> <%=current_user.phone_number %>!
    <br>
  <% elsif user_signed_in? %>
    <%= t('logged_in_user.hi') %> <%=current_user.first_name %><%= "(ADMIN)" if current_user.admin? %>!
    <br>
  <% end %>
  <%= raw(CGI.unescape_html(i18n_with_default("home.#{current_organization.subdomain}.custom_banner_greeting"))) %>
</h1>
