<h1 class="slogan">
  <%= raw t("home.#{current_organization.subdomain}.custom_banner_greeting") %>
  <% if user_signed_in? %>
    <%= t('logged_in_user.hi') %> <%=current_user.profile.first_name%>!
    <br>
  <% elsif current_user && current_user.admin? %>
    <%= t('logged_in_user.hi') %> <%= current_user.profile.first_name "(ADMIN)"%>!
  <% end %>
  <%= t("home.logo_banner_html") %>
</h1>
