<% if content_for?(:meta_title) %>
  <title><%= content_for(:meta_title).strip %></title>
<% else %>
  <title>Chicago Public Library - Digital Learn</title>
<% end %>

<meta name="robots" content="noindex">
<%= stylesheet_link_tag "application", media: "all" %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>
<%= favicon_link_tag "favicon.ico" %>

<% if content_for?(:meta_description) %>
  <meta name="description" content="<%=content_for(:meta_description).strip%>">
<% end %>
