<% if content_for?(:meta_title) %>
  <title><%= content_for(:meta_title).strip %></title>
<% else %>
  <% case current_organization.subdomain %>
  <% when "www" %>
    <title>Digital Learn</title>
  <% when "chipublib" %>
    <title>Chicago Public Library - Digital Learn</title>
  <% when "npl" %>
    <title>Nashville Public Library - Digital Learn</title>
  <% when "kpl" %>
    <title>Kalamazoo Public Library - Digital Learn</title>
  <% end %>
<% end %>
<meta name="robots" content="noindex">
<meta name="viewport" content="width=device-width">
<%= stylesheet_link_tag "application", media: "all" %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>
<%= favicon_link_tag "favicon.ico" %>

<% if content_for?(:meta_description) %>
  <meta name="description" content="<%=content_for(:meta_description).strip%>">
<% end %>

<%= hidden_field_tag :user_ga_id, session[:user_ga_id] %>
