<div class="modal">
  <input class="modal-state" id="lesson-complete-modal" type="checkbox" />
  <div class="modal-fade-screen">
    <div class="modal-inner">
      <div class="modal-close" for="lesson-complete-modal"></div>
      <h1>Congratulations!</h1>
      <p>
        You've completed Lesson <%= current_lesson.lesson_order %>: <%= current_lesson.title %>
      </p>
      <h2>Up Next:</h2>
      <h2><%="#{next_lesson.title} - Lesson #{next_lesson.lesson_order}"%></h2>
      <%= link_to "Continue", course_lesson_path(course, next_lesson),
        class: "btn btn-blue small", onclick: "Modal.close();" %>
      <span class="vertical-bar">&nbsp;</span>
      <i class="icon-cw flip-horizontal"></i>
      <%= link_to "Repeat Lesson", course_lesson_path(course, current_lesson), class: "grey" %>
    </div>
  </div>
</div>