<h2 class="<%= text_color_class %>"><%= t('course_page.additional_resources') %></h2>

<ul class="no-padding">
<%# TODO: make this a model method %>
<% course.attachments.where(doc_type: "post-course").each do |a| %>
  <%= link_to course_attachment_path(course, a), target: "_blank" do %>
    <li class="<%= link_color_class %>"><i class="icon-download <%= download_color_class %>"></i><%= a.document_file_name %></li>
  <% end %>
<% end %>
</ul>
