<fieldset>
  <%= f.text_field :first_name, placeholder: "#{t('login_signup.first_name')}" %>
</fieldset>

<fieldset>
  <%= f.text_field :last_name, placeholder: "#{t('profile_page.last_name')}" %>
</fieldset>

<fieldset>
  <%= f.text_field :phone, placeholder: "#{t('profile_page.phone')}" %>
</fieldset>

<fieldset>
  <%= f.text_field :street_address, placeholder: "#{t('profile_page.street_address')}" %>
</fieldset>

<fieldset>
  <%= f.text_field :city, placeholder: "#{t('profile_page.city')}" %>
</fieldset>

<fieldset>
  <%= f.text_field :state, placeholder: "#{t('profile_page.state')}" %>
</fieldset>

<fieldset class="extra-bottom-margin">
  <%= f.text_field :zip_code, placeholder: "#{t('login_signup.zip_code')}" %>
</fieldset>

<fieldset>
  <%= f.text_field :library_card_number, placeholder: "#{t('profile_page.library_card_number')}" %>
</fieldset>

<fieldset class="extra-bottom-margin">
  <%= select_tag :organization_program, options_for_select(@organization_programs), include_blank: "#{t('profile_page.no_program')}" %>
</fieldset>

<fieldset class="extra-bottom-margin">
  <div id="programLocationForm">
    <%= f.fields_for :user do |u| %>
      <%= u.select :program_location, ProgramLocation.all.collect { |pl| [ pl.location_name, pl.id ] }, include_blank: "Choose #{Program.last.location_field_name}" %>
    <% end %>
  </div>
</fieldset>

<fieldset>
  <%= f.label :role, class: "text-color" do %>
    Parent or Student?<span class="required"></span>
  <% end %>
  <%= select_tag :user_role, options_for_select(['Parent', 'Student']), class: "bottom-margin" %>
</fieldset>

<fieldset>
  <%= f.label :school, class: "text-color" do %>
    Select School<span class="required"></span>
  <% end %>
  <%= f.select :school, ["Lincoln Elementary", "Canterbury Primary", "Blacklick Elementary"] %>
</fieldset>

<fieldset>
  <%= f.text_field :student_id, placeholder: "Student ID" %>
</fieldset>