<%= field_set_tag legend = nil, style: "width: 100%;" do %>
  <strong><p class="black-modal-text">1. <%= t('quiz.question_1') %> </p></strong>
  <ul class="less-padding">
    <li>
      <%= radio_button_tag(:set_one, "1") %>
      <%= label_tag(:set_one_1, "#{t('quiz.set_one_1')}", class: "inline-label") %>
    </li>

    <li>
      <%= radio_button_tag(:set_one, "2") %>
      <%= label_tag(:set_one_2, "#{t('quiz.set_one_2')}", class: "inline-label") %>
    </li>

    <li>
      <%= radio_button_tag(:set_one, "3") %>
      <%= label_tag(:set_one_3, "#{t('quiz.set_one_3')}", class: "inline-label") %>
    </li>

    <li>
      <%= radio_button_tag(:set_one, "4") %>
      <%= label_tag(:set_one_4, "#{t('quiz.set_one_4')}", class: "inline-label") %>
    </li>

    <% if current_page?(root_url) %>
      <li>&nbsp;</li>
    <% end %>
  </ul>

  <% if current_page?(root_url) %>
    <%# TODO: fix bug with skip button, and add %= back into ERB tag %>
    <% button_tag "Skip Quiz", class: "btn small modal-skip-button btn-grey", type: "button", name: "skip_quiz" %>

    <%= button_tag "Next", class: "btn small next-button button-color", type: "button", name: "next" %>
  <% end %>
<% end %>



