<%= field_set_tag legend = nil, style: "width: 100%;" do %>
  <strong><p class="black-modal-text">1. How comfortable are you with desktop or laptop computers? Select one.</p></strong>
  <ul class="less-padding">
    <li>
      <%= radio_button_tag(:set_one, "1") %>
      <%= label_tag(:set_one_1, "This is my first time using a computer.", class: "inline-label") %>
    </li>

    <li>
      <%= radio_button_tag(:set_one, "2") %>
      <%= label_tag(:set_one_2, "I can use a keyboard and mouse, but I'm not comfortable beyond that.", class: "inline-label") %>
    </li>

    <li>
      <%= radio_button_tag(:set_one, "3") %>
      <%= label_tag(:set_one_3, "I can use a computer, but I'd like to learn more.", class: "inline-label") %>
    </li>

    <li>
      <%= radio_button_tag(:set_one, "4") %>
      <%= label_tag(:set_one_4, "I'm very comfortable with a computer, but I would like to learn more on a specific topic.", class: "inline-label") %>
    </li>
    <% if current_page?(root_url) %>
      <li>&nbsp;</li>
    <% end %>
  </ul>

  <% if current_page?(root_url) %>
    <%= button_tag "Skip Quiz", class: "btn small modal-skip-button btn-grey", type: "button", name: "skip_quiz" %>

    <% css_class = request.subdomain == "chipublib" ? "btn-mustard" : "" %>
    <%= button_tag "Next", class: "btn small next-button #{css_class}", type: "button", name: "next" %>
  <% end %>
<% end %>
