<%= field_set_tag legend = nil, style: "width: 100%;" do %>
  <strong><p class="black-modal-text">3. <%= t('quiz.question_3') %></p></strong>
  <ul class="less-padding">
    <li>
      <%= radio_button_tag(:set_three, "1") %>
      <%= label_tag(:set_three_1, "#{t('quiz.set_three_1')}", class: "inline-label") %>
    </li>

    <li>
      <%= radio_button_tag(:set_three, "2") %>
      <%= label_tag(:set_three_2, "#{t('quiz.set_three_2')}", class: "inline-label") %>
    </li>

    <li>
      <%= radio_button_tag(:set_three, "3") %>
      <%= label_tag(:set_three_3, "#{t('quiz.set_three_3')}", class: "inline-label") %>
    </li>

    <li>
      <%= radio_button_tag(:set_three, "4") %>
      <%= label_tag(:set_three_4, "#{t('quiz.set_three_4')}", class: "inline-label") %>
    </li>

    <li>
      <%= radio_button_tag(:set_three, "5") %>
      <%= label_tag(:set_three_5, "#{t('quiz.set_three_5')}", class: "inline-label") %>
    </li>

    <li>
      <%= radio_button_tag(:set_three, "6") %>
      <%= label_tag(:set_three_6, "#{t('quiz.set_three_6')}", class: "inline-label") %>
    </li>

    <li>
      <%= radio_button_tag(:set_three, "7") %>
      <%= label_tag(:set_three_7, "#{t('quiz.set_three_7')}", class: "inline-label") %>
    </li>

    <li>
      <%= radio_button_tag(:set_three, "8") %>
      <%= label_tag(:set_three_8, "#{t('quiz.set_three_8')}", class: "inline-label") %>
    </li>
  </ul>
  <% if current_page?(root_url) %>
    <%= button_tag "Previous", class: "btn small previous-button btn-grey", type: "button", name: "previous" %>
  <% end %>

  <div class='form-actions'>
    <%= submit_tag t('common.submit'), class: "btn small submit-button button-color" %>
    <%= link_to t('quiz.skip_quiz'), root_path, class: "secondary-action" %>
  </div>
<% end %>
