<%= field_set_tag legend = nil, style: "width: 100%;" do %>
  <strong><p class="black-modal-text">2.  <%= t('quiz.question_2') %></p></strong>
  <ul class="less-padding">
    <li>
      <%= radio_button_tag(:set_two, "1") %>
      <%= label_tag(:set_two_1, "#{t('quiz.set_two_1')}", class: "inline-label") %>
    </li>

    <li>
      <%= radio_button_tag(:set_two, "2") %>
      <%= label_tag(:set_two_2, "#{t('quiz.set_two_2')}", class: "inline-label") %>
    </li>

    <li>
      <%= radio_button_tag(:set_two, "3") %>
      <%= label_tag(:set_two_3, "#{t('quiz.set_two_3')}", class: "inline-label") %>
    </li>

    <li>
      <%= radio_button_tag(:set_two, "4") %>
      <%= label_tag(:set_two_4, "#{t('quiz.set_one_4')}", class: "inline-label") %>
    </li>
    <% if current_page?(root_url) %>
      <li>&nbsp;</li>
    <% end %>
  </ul>
  <% if current_page?(root_url) %>
    <%= button_tag "Previous", class: "btn small previous-button btn-grey", type: "button", name: "previous" %>

    <%= button_tag "Next", class: "btn small next-button button-color", type: "button", name: "next" %>
  <% end %>
<% end %>
