<div class="modal">
  <input class="modal-state" id="quiz-start-modal" type="checkbox" />
  <div class="modal-fade-screen">
    <div class="modal-inner quiz-modal-inner">
      <div class="modal-close" for="quiz-start-modal"></div>
      <h2 class="text-color"><%= current_user.profile.first_name %>, <%= t('quiz.intro_text') %> </h2>
      <h2 class="text-color"><%= t('quiz.answer_3_questions') %> </h2>
      <div>
        <%= form_tag new_quiz_response_path, id: "msform" do %>
          <%= render "shared/quiz_section_one" %>
          <%= render "shared/quiz_section_two" %>
          <%= render "shared/quiz_section_three" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  var current_fs, next_fs, previous_fs; //fieldsets
  var opacity; //fieldset properties which we will animate
  var fade_time = 0 // Increase this to make things fade in and out.

  $(".next-button").click(function(){
  	current_fs = $(this).parent();
  	next_fs = $(this).parent().next();

  	//show the next fieldset
  	next_fs.show();
  	//hide the current fieldset with fade
  	current_fs.animate({opacity: 0}, {
  		step: function(now, mx) {
  			opacity = 1 - now;
  			next_fs.css({'opacity': opacity});
  		},

  		duration: fade_time,
  		complete: function(){
  			current_fs.hide();
  		},
  	});
  });

  $(".previous-button").click(function(){
  	current_fs = $(this).parent();
  	previous_fs = $(this).parent().prev();

  	//show the previous fieldset
  	previous_fs.show();
  	//hide the current fieldset with fade
  	current_fs.animate({opacity: 0}, {
  		step: function(now, mx) {
  			opacity = 1 - now;
  			previous_fs.css({'opacity': opacity});
  		},
  		duration: fade_time,
  		complete: function(){
  			current_fs.hide();
  		},
  	});
  });
</script>
