<div class="sub-nav">
  <div class="container">
    <%= link_to "Get DigitalLearn for Your Library", static_overview_url(subdomain: "www") %><span class="spacer">|</span>
    <%= link_to "Pricing & Features", static_customization_url(subdomain: "www") %><span class="spacer">|</span>
    <%= link_to "See Our Work in Action", static_portfolio_url(subdomain: "www") %><span class="spacer">|</span>
    <%= link_to "Develop Your Own Courses", "https://training.digitallearn.org/trainings/designing-digitallearn-courses" %><span class="spacer">|</span>
    <%= link_to "Contact Us", new_contact_url(subdomain: "www") %>
  </div>
</div>
