<% if @course.attachments.count == 0 %>
  <h2><%= t('course_page.there_is_no_text_copy_of_course') %></h2>
<% else %>
  <h2><%= t('course_page.click_here_for_text_copy_course') %></h2>
<% end %>

<ul class="no-padding">
<%# TODO: make this a model method %>
<% course.attachments.where(doc_type: "supplemental").each do |a| %>
  <%= link_to course_attachment_path(course, a), target: "_blank" do %>
    <li data-cpl-ga-event="on" data-cpl-ga-value="supplemental-material-download" data-document-name='<%= "#{a.document_file_name}" %>'><i class="icon-download purple"></i><%= a.document_file_name %></li>
  <% end %>
<% end %>
</ul>
