<a class="course-widget <%= courses_completed.include?(course.id) ? 'completed' : '' %> <%= course.new_course? ? 'new-course' : '' %>" href="<%= course_path(course) %>" data-cpl-ga-event="on" data-cpl-ga-value="user-open-course">
  <header>
    <h3 class='course-title shaveable' data-resize-height="75"><%= course.title %></h3>
  </header>
  <div class="description">
    <div class="summary">
      <p><%= course.summary %></p>
    </div>
    <div class="progress">
      <div class="percent-complete"><%= percent_complete(course) %></div>
      <div class="duration">
        <i class="icon-clock grey"></i><%= course.duration %>
      </div>
    </div>
    <% if course.new_course? %>
      <div class="attribution">
        This module was made possible by AT&T
      </div>
    <% end %>
  </div>
</a>