<div class="course-progress">
  <header><%= t('completed_courses_page.course') %>: <%= course.title %></header>
  <div class="progress-bar">
    <span class="meter" style="width: <%= course_progress.percent_complete %>%;"></span>
    <% lesson_count = course.lessons.count %>
    <% spacing = 100.0 / lesson_count %>
    <% arrow_position = lesson.lesson_order * spacing - (spacing / 2) - 6 %>
    <% lesson_count.times do |i| %>
      <% if i >= 1 %>
        <span class="lesson-break" style="left: <%= (i * spacing) - (i-1) %>%;"></span>
      <% end %>
    <% end %>
    <span class="current-lesson"
      style="left: <%= arrow_position %>%;">
    </span>
  </div>
  <footer>
    <span class="percent-complete"><%= course_progress.percent_complete %><%= t('lesson_page.percent_complete') %></span>
    <span class="next-lesson-link">
      <% unless lesson.is_assessment %>
        <%= link_to "#{t('lesson_page.skip_to_next_lesson')}",
          course_lesson_path(course, course.next_lesson_id(lesson.id)), class: "inverted" %>
      <% end %>
    </span>
  </footer>
</div>
