<% if user_signed_in? %>
  <% courses_completed = current_user.completed_course_ids %>
<% else %>
  <% courses_completed = [] %>
<% end %>

<div class="container">
<% @courses.each do |c| %>
    <a class="course-widget <% if courses_completed.include?(c.id) %>completed<% end %>"
      href="<%= course_path(c) %>" data-cpl-ga-event="on" data-cpl-ga-value="user-open-course">
      <header>
        <h3 class="with-computer-background"><%= c.title %></h3>
      </header>
      <div class="description">
        <p><%= c.summary %></p>
        <div class="percent-complete"><%= percent_complete(c) %></div>
        <div class="duration">
          <i class="icon-clock grey"></i><%= c.duration %>
        </div>
      </div>
    </a>
<% end %>
<%= render partial: "shared/courses/learn_more" %>
</div>
