<h2 class="text-color"><%= t('course_page.click_here_for_text_copy_course') %></h2>
<% if @course.text_copy_attachments.count > 0 %>
  <ul class="no-padding">
  <% @course.text_copy_attachments.each do |a| %>
    <%= link_to attachment_path(a), target: "_blank", class: "block_link" do %>
      <li class="attachment-download" data-cpl-ga-event="on" data-cpl-ga-value="supplemental-material-download" data-document-name='<%= "#{a.document_file_name}" %>'>
        <i class="icon-download"></i>
        <%= a.document_file_name %>
        <% if a.file_description.present? %>
          <small class="note file-description"><%= a.file_description %></small>
        <% end %>
      </li>
    <% end %>
  <% end %>
  </ul>
<% else %>
  <div class="note"><%= t('course_page.there_is_no_text_copy_of_course') %></div>
<% end %>