<h1>Translations for <%= @locale %></h1>
<table>
  <thead>
    <tr>
      <th>Translation Key</th>
      <th>Setting</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% translation_keys(@locale).each do |key| %>
      <% translation = translation_for_key(@translations, key) %>
      <tr id="<%= key %>">
        <td><%= key %></td>
        <td><%= translation.nil? ? I18n.t(key, locale: @locale) : translation.value %></td>
        <td>
          <% if translation.nil? %>
            <%= link_to "Edit", new_admin_custom_translation_url(@locale, key: key) %>
          <% else %>
            <%= link_to "Edit", edit_admin_custom_translation_url(@locale, translation) %>
            <%= link_to "Reset", admin_custom_translation_url(@locale, translation), method: :delete, data: { confirm: "Are you sure?" } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>