<% content_for :callout do %>
  <h1>Get DigitalLearn for Your Library</h1>
<% end %>

<%= render "/shared/sub_nav" %>

<div class="static-page">
  <h2>Get Started</h2>
  <p>
    Ready to create your library's own DigitalLearn site? Contact Scott Allen
    at <strong><%= tel_to "312-280-5858" %></strong> or complete the form below to get started.
  </p>

  <%= form_for(@contact, url: contacts_path, html: { class: "form-style-2" }) do |f| %>

    <% if @contact.errors.any? %>
      <div id="error_explanation">
        <h2>The following errors prohibited this record from being saved:</h2>
        <ul>
        <% @contact.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-row inline">
      <fieldset class='inline-item'>
        <%= f.label :first_name, class: "screen-reader-text" %>
        <%= f.text_field :first_name, placeholder: "First *", maxlength: Contact.max_length_for(:first_name) %>
      </fieldset>

      <fieldset class="inline-item">
        <%= f.label :last_name, class: "screen-reader-text" %>
        <%= f.text_field :last_name, placeholder: "Last *", maxlength: Contact.max_length_for(:last_name) %>
      </fieldset>
    </div>

    <div class='form-row'>
      <fieldset>
        <%= f.label :organization, class: "screen-reader-text" %>
        <%= f.text_field :organization, placeholder: "Organization *", maxlength: Contact.max_length_for(:organization) %>
      </fieldset>
    </div>

    <div class="form-row inline">
      <fieldset class="inline-item">
        <%= f.label :city, class: "screen-reader-text" %>
        <%= f.text_field :city, placeholder: "City *", maxlength: Contact.max_length_for(:city) %>
      </fieldset>

      <fieldset class="inline-item">
        <%= f.label :state, class: "screen-reader-text" %>
        <%= f.select :state, options_for_select(Constants.us_states, @contact.state), { include_blank: "Select State... *" } %>
      </fieldset>
    </div>

    <div class="form-row inline">
      <fieldset class="inline-item">
        <%= f.label :email, class: "screen-reader-text" %>
        <%= f.text_field :email, placeholder: "Email *", maxlength: Contact.max_length_for(:email) %>
      </fieldset>

      <fieldset class="inline-item">
        <%= f.label :phone, class: "screen-reader-text" %>
        <%= f.text_field :phone, placeholder: "Phone", maxlength: Contact.max_length_for(:phone) %>
      </fieldset>
    </div>

    <fieldset class="form-row">
      <%= f.label :comments, class: "screen-reader-text" %>
      <%= f.text_area :comments, placeholder: "Comments *", maxlength: Contact.max_length_for(:comments) %>
    </fieldset>

    <div class="form-row">
      <%= f.submit "Submit" %>
    </div>

    <%= render "shared/required_field_msg" %>

  <% end %>

</div>
