<%= content_for(:callout) { %><h1>Admin Dashboard</h1><% } %>

<h2><%= t "devise.invitations.new.header" %></h2>

<%= form_for resource, as: resource_name, url: invitation_path(resource_name), html: {method: :post} do |f| %>
  <%= render partial: 'devise/shared/error_messages', resource: resource %>

  <div class='form-row inline'>
    <% resource.class.invite_key_fields.each do |field| -%>
      <div class='inline-item'>
        <%= f.label field, class: "text-color" %>
        <%= f.text_field field %>
      </div>
    <% end -%>

    <% if top_level_domain? %>
      <div class='inline-item'>
        <%= f.collection_select(:organization_id, Organization.all, :id, "name" ) %>
      </div>
    <% end %>
  </div>


  <%= f.submit t("devise.invitations.new.submit_button"), class: "button-color" %>
<% end %>
