<%= content_for(:callout) { %><h1>Admin Dashboard</h1><% } %>

<h1>Schools</h1>

<ul id="school_rows" class="admin-resource-list">
  <% @schools.each do |school| %>
    <%= render partial: "school_row", locals: { school: school } %>
  <% end %>
</ul>

<%= form_for [:admin, @new_school], remote: true, format: :js do |f| %>
  <fieldset>
    <div class='inline-form new-school-form'>
      <%= f.text_field :school_name, placeholder: "School Name" %>
      <%= f.select :school_type, school_type_options, prompt: "Choose school type" %>
      <%= f.submit "Add School", class: "skinny" %>
    </div>
  </fieldset>
<% end %>