<%= content_for(:callout) { %><h1>Admin Dashboard</h1><% } %>

<h1>Schools</h1>

<div class="row underlined">
  &nbsp;
</div>

<div id="school_rows">
  <% @schools.each do |school| %>
    <%= render partial: "school_row", locals: { school: school } %>
  <% end %>
</div>

<%= form_for [:admin, @new_school], remote: true, format: :js do |f| %>
  <div class="row">
    <div class="sixcol">
      <%= f.text_field :school_name %>
    </div>
    <div class="sixcol">
      <%= f.submit "Add School" %>
    </div>
  </div>
<% end %>