<p><strong>New DigitalLearn.org Contact Form Submitted</strong></p>
<p><strong>Full Name:</strong> <%= @contact.full_name %></p>
<p><strong>Organization:</strong> <%= @contact.organization %></p>
<p><strong>City, State:</strong> <%= @contact.city_state %></p>
<p><strong>Email:</strong> <%= @contact.email %></p>
<p><strong>Phone:</strong> <%= @contact.phone %></p>
<p><strong>Comments:</strong> <%= simple_format @contact.comments %></p>
