<div>

      <h1>Congratulations!</h1>
      <p>
        You've completed Activity <%= @current_lesson.lesson_order %>: <%= @current_lesson.title %>
      </p>
      <h2>Up Next:</h2>
      <h2><%="#{@next_lesson.title} - Activity #{@next_lesson.lesson_order}"%></h2>
      <%= link_to "Continue", course_lesson_path(@course, @next_lesson),
        class: "btn btn-blue small" %>
      <span class="vertical-bar">&nbsp;</span>
      <i class="icon-cw flip-horizontal"></i>
      <%= link_to "Repeat Activity", course_lesson_path(@course, @current_lesson), class: "grey" %>

</div>
