<%= content_for :callout do %>
  <%= @lesson.title %>
<% end %>

<%= content_for :course_progress do %>
  <%= render partial: "shared/courses/course_progress",
    locals: { course: @course, course_progress: @course_progress } %>
<% end %>

<img src="http://placehold.it/1024x400?text=Interactive Story Line">

<hr />

<div class="row">
  <div class="sixcol">
    <h3><%= @course.title %></h3>
    <div>
      <small><%= @course.lessons.count %> Lessons</small>
      <small>13 Minutes</small> <%# TODO: make dynamic %>
    </div>
    <%= render partial: "shared/lessons/listing", locals: { course: @course } %>
  </div>

  <div class="sixcol last">
    <%= render partial: "shared/supplemental_materials" %>
  </div>
</div>

<%= render partial: "shared/modal", locals: { current_lesson: @lesson, next_lesson: @lesson} %>

<script>
  setTimeout(function() {
    sendLessonCompleteEvent();
  }, 1000);
</script>
