<%= content_for :callout do %>
  <%= @lesson.title %>
<% end %>


<img src="http://placehold.it/1024x400?text=Interactive Story Line">

<hr />

<div class="row">
  <div class="six-col">
    <h3><%= @course.title %></h3>
    <div>
      <small><%= @course.lessons.count %> Lessons</small>
      <small>13 Minutes</small> <%# TODO: make dynamic %>
    </div>
    <%= render partial: "shared/lessons/listing", locals: { course: @course } %>
  </div>

  <div class="six-col last">
    <%= render partial: "shared/supplemental_materials" %>
  </div>
</div>
