<%= content_for :meta_title do %>
  <%= @lesson.title %>
<% end %>
<%= content_for :meta_description do %>
  <%= @lesson.summary %>
<% end %>
<%= content_for :callout, flush: true do %>
  <h1><%="#{@lesson.lesson_order}. #{@lesson.title}" %></h1>
  <small><i class="icon-clock white"></i><%= @lesson.duration_str %></small>
<% end %>
<%= content_for :course_progress do %>
  <%= render partial: "shared/courses/course_progress",
    locals: { course: @course, lesson: @lesson, course_progress: @course_progress } %>
<% end %>

<%= asl_iframe(@lesson) %>

<hr />

<% content_for :left do %>
  <%= render partial: "playlist" %>
<% end %>

<% content_for :right do %>
  <%= render partial: "shared/courses/supplemental_materials" %>
<% end %>

<%= hidden_field_tag :is_assessment, @lesson.is_assessment %>
