<h1><%= t('home.login') %></h1>

<p><%= t('login_signup.already_have_an_account') %></p>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <fieldset>
    <%= f.email_field :email, autofocus: true, id: "login_email", placeholder: "#{t('login_signup.email')} *" %>
  </fieldset>

  <fieldset>
    <%= f.text_field :password, autocomplete: "off", id: "login_password", placeholder: "#{t('login_signup.password')} *" %>
  </fieldset>

  <% if devise_mapping.rememberable? -%>
    <fieldset>
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, "#{t('login_signup.keep_me_logged_in')}", class: "plain" %>
      <%= check_box_tag('hide_signin_pass', '1', false, onchange: 'hide_login_password(this);') %>
      <%= label_tag('hide_signin_pass', 'Hide password', class: 'plain') %>
    </fieldset>
  <% end -%>

  <%= f.submit "Access Courses" %>
<% end %>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <p><%= link_to "Forgot your password?", new_password_path(resource_name) %></p>
<% end -%>
