<h1>Log In</h1>

<p>Already have an account? Log in using your email address and password below!</p>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <fieldset>
    <%= f.email_field :email, autofocus: true, id: "login_email", placeholder: "Email *" %>
  </fieldset>

  <fieldset>
    <%= f.text_field :password, { autocomplete: "off", autocorrect: "off",  autocapitalize: "off", spellcheck: "false", id: "login_password", placeholder: "Password *" } %>
  </fieldset>

  <% if devise_mapping.rememberable? -%>
    <fieldset>
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, "Keep me logged in", class: "plain" %>
      <%= check_box_tag('hide_signin_pass', '1', false, onchange: 'hide_login_password(this);') %>
      <%= label_tag('hide_signin_pass', 'Hide password', class: 'plain') %>
    </fieldset>
  <% end -%>

  <%= f.submit "Access Courses" %>
<% end %>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <p><%= link_to "Forgot your password?", new_password_path(resource_name) %></p>
<% end -%>
