<h2 class="text-color"><%= t("home.login") %></h2>

<% if current_organization.library_card_login? %>
  <p><%= t("login_signup.already_have_an_account_card_number") %></p>
<% else %>
  <p><%= t("login_signup.already_have_an_account") %></p>
<% end %>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <% if current_organization.library_card_login? %>
    <div class="form-group">
      <%= label_tag "login_library_card_number", "Library Card Number", class: "screen-reader-text" %>
      <%= f.email_field :login, autofocus: true, id: "login_email", placeholder: "#{t('login_signup.library_card_number')} *" %>
    </div>

    <div class="form-group">
      <%= label_tag "login_password", "Library Card Pin", class: "screen-reader-text" %>
      <%= f.text_field :password, autocomplete: "off", autocorrect: "off", autocapitalize: "off",
        spellcheck: "false", id: "login_password", placeholder: "#{t('login_signup.library_card_pin')} *" %>
    </div>
  <% else %>
    <div class="form-group">
      <%= label_tag "login_email", "Email", class: "screen-reader-text" %>
      <%= f.email_field :login, autofocus: true, id: "login_email", placeholder: "#{t('login_signup.email')} *" %>
    </div>

    <div class="form-group">
      <%= label_tag "login_password", "Password", class: "screen-reader-text" %>
      <%= f.text_field :password, autocomplete: "off", autocorrect: "off", autocapitalize: "off",
        spellcheck: "false", id: "login_password", placeholder: "#{t('login_signup.password')} *" %>
    </div>
  <% end %>

  <% if devise_mapping.rememberable? && !current_organization.library_card_login? -%>
    <div class="form-group">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, "#{t('login_signup.keep_me_logged_in')}", class: "plain" %>
      <%= check_box_tag('hide_signin_pass', '1', false, onchange: 'hide_login_password(this);') %>
      <%= label_tag('hide_signin_pass', "#{t('login_signup.hide_password')}", class: 'plain') %>
    </div>
  <% end -%>

  <%= f.submit "#{t('login_signup.access_courses')}", class: "button-color"%>
<% end %>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' && !current_organization.library_card_login? %>
  <p><%= link_to "#{t('login_signup.forgot_password')}", new_password_path(resource_name) %></p>
<% end -%>
