<h1>Log In</h1>

<p>Already have an account? Log in using your email address and password below.</p>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <fieldset>
    <%= f.email_field :email, autofocus: true, id: "login_email", placeholder: "Email" %>
  </fieldset>

  <fieldset>
    <%= f.text_field :password, autocomplete: "off", id: "login_password", placeholder: "Password" %>
  </fieldset>

  <% if devise_mapping.rememberable? -%>
    <fieldset>
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, "Keep me logged in", class: "plain" %>
    </fieldset>
  <% end -%>

  <%= f.submit "Access Courses" %>

<% end %>
