<%= content_for(:callout) { %><h1>Admin Dashboard</h1><% } %>

<h2>Subsites</h2>

<table class="organizations-table">
  <tr>
    <th>Name</th>
    <th>Subdomain</th>
    <th>User Count</th>
    <th>Branches?</th>
    <th>Programs?</th>
    <th>Partners?</th>
    <th>Admin Users</th>
  </tr>
  <% @organizations.each do |organization| %>
    <tr>
      <td>
        <%= organization.name %>
      </td>
      <td>
        <%= organization.subdomain %>
      </td>
      <td>
        <%= organization.user_count %>
      </td>
      <td class='centered'>
        <% if organization.branches? %>
          <i class='icon-ok' />
        <% end %>
      </td>
      <td class='centered'>
        <% if organization.accepts_programs? %>
          <i class='icon-ok' />
        <% end %>
      </td>
      <td class='centered'>
        <% if organization.accepts_partners? %>
          <i class='icon-ok' />
        <% end %>
      </td>
      <td>
        <% organization.admin_user_emails.each do |email| %>
          <%= email %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>