<!DOCTYPE html>
<html>
<head>
  <%= render "shared/meta_tags" %>
</head>
<body>
  <% if current_user.is_admin? %>
    <%= render "shared/admin/header" %>
  <% else %>
    <%= render "shared/user/header" %>
  <% end %>

  <div class="banner large-top-padding">
    <div class="container">
      <% if content_for?(:callout) %>
        <h1><%= yield :callout %></h1>
      <% else %>
        <h1>Connect to the Digital World</h1>
      <% end %>
    </div>
  </div>

  <main class="container">
    <%= render "shared/flashes" %>
    <div class="row">
      <div class="fourcol sidebar">
        <%= render "shared/user/sidebar" %>
      </div>
      <div class="eightcol last">
        <%= yield %>
      </div>
    </div>
  </main>

  <%= render "shared/footer" %>
</body>
</html>
