<!DOCTYPE html>
<html lang="<%= I18n.locale.to_s %>">
  <head>
    <%= render "shared/meta_tags" %>
    <%= render "shared/ga_#{current_organization.subdomain}" if Rails.env.production? %>
    <%= render "shared/ga_event_tracking" if Rails.env.production? %>
  </head>
  <body class="<%= current_organization.subdomain %>">
    <% if current_user && current_user.has_role?(:admin, current_organization) %>
      <%= render "shared/admin/header" %>
    <% elsif current_user %>
      <%= render "shared/user/header" %>
    <% elsif top_level_domain? %>
      <%= render "shared/dl_header" %>
    <% end %>
    <div class="banner color">
      <div class="container row">
        <%= render partial: "shared/layout/callout_banner"%>
      </div>
    </div>
    <main class="container">
      <%= render "shared/flashes" %>
      <%= yield %>
    </main>
    <%= render "shared/footer" %>
  </body>
</html>
