<!DOCTYPE html>
<html>
  <head>
    <%= render "shared/meta_tags" %>
    <%= render "shared/ga_#{current_organization.subdomain}" if Rails.env.production? %>
    <%= render "shared/ga_event_tracking" if Rails.env.production? %>
  </head>
  <body class="<%= current_organization.subdomain %>">
    <% if current_user && current_user.has_role?(:admin, current_organization) %>
      <%= render "shared/admin/header" %>
    <% elsif current_user %>
      <%= render "shared/user/header" %>
    <% elsif top_level_domain? %>
      <%= render "shared/dl_header" %>
    <% else %>
      <%= render "shared/header" %>
    <% end %>
    <div class="banner color">
      <div class="container row">
        <% if content_for?(:course_progress) %>
          <div class="eightcol">
            <% if content_for?(:callout) %>
              <%= yield :callout %>
            <% else %>
              <%= render "shared/logo_banner" %>
            <% end %>
          </div>
          <div class="fourcol last">
            <% if content_for?(:course_progress) %>
              <%= yield :course_progress %>
            <% end %>
          </div>
        <% else %>
          <div class="twelvecol">
            <% if content_for?(:callout) %>
              <%= yield :callout %>
            <% else %>
              <%= render "shared/logo_banner" %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <main class="container">
      <%= render "shared/flashes" %>
      <%= yield %>
    </main>
    <%= render "shared/footer" %>
  </body>
</html>
