<%= content_for(:callout) { %><h1>Admin Dashboard</h1><% } %>

<h2>Reports</h2>

<% if subdomain? %>
  <li><%= link_to "Completions Report (by Library)", admin_export_completions_path(format: "csv", version: "lib") %></li>
<% end %>
<li><%= link_to "Completions Report (by Zipcode)", admin_export_completions_path(format: "csv", version: "zip") %></li>
<li><%= link_to "Completions Report (by Survey Answers)", admin_export_completions_path(format: "csv", version: "survey_responses") %></li>
<li><%= link_to "Incomplete Courses", admin_report_export_path(report: :incomplete_courses, format: :csv) %></li>
<li><%= link_to "Completed Courses", admin_report_export_path(report: :completed_courses, format: :csv) %></li>
<li><%= link_to "Users that have not started a course", admin_report_export_path(report: :no_courses, format: :csv) %></li>

<% if in_subdomain? "npl" %>
  <li><%= link_to "Registrations", admin_report_export_path(report: :registrations, format: :csv) %></li>
<% end %>

<% if I18n.exists?("google_analytics_url.#{current_organization.subdomain}", I18n.locale) %>
  <li><%= link_to "Google Analytics Dashboard", t("google_analytics_url.#{current_organization.subdomain}"), target: "_blank" %></li>
<% end %>

<% if I18n.exists?("google_studio_url.#{current_organization.subdomain}", I18n.locale) %>
  <li><%= link_to "Google Analytics Report", t("google_studio_url.#{current_organization.subdomain}"), target: "_blank" %></li>
<% end %>
