<h2 class="text-color">Admin Reports</h2>
<% if subdomain? %>
  <li><%= link_to "Completions Report (by Library)", admin_export_completions_path(format: "csv", version: "lib") %></li>
<% end %>
<li><%= link_to "Completions Report (by Zipcode)", admin_export_completions_path(format: "csv", version: "zip") %></li>
<li><%= link_to "Completions Report (by Survey Answers)", admin_export_completions_path(format: "csv", version: "survey_responses") %></li>

<%# Reports specific to Nashville %>
<% if in_subdomain? "npl" %>
  <li><%= link_to "Registrations", admin_report_export_path(report: :registrations, format: :csv) %></li>
  <li><%= link_to "Completed Courses", admin_report_export_path(report: :completed_courses, format: :csv) %></li>
  <li><%= link_to "Incomplete Courses", admin_report_export_path(report: :incomplete_courses, format: :csv) %></li>
  <li><%= link_to "Users that have not started a course", admin_report_export_path(report: :no_courses, format: :csv) %></li>
<% end %>
