<%= content_for(:callout) { %><h1>Admin Dashboard</h1><% } %>

<h2>Reports</h2>

<%= form_with url: admin_report_export_path(format: :csv), method: :get, local: true do %>
  <div>
    <label for="report_type">Select Report Type:</label>
    <select name="report" id="report_type" class="form-select">
      <% if current_organization.branches? %>
        <option value="completions_by_library">Completions Report (by Library)</option>
        <option value="completions_by_zip_code">Completions Report (by Zip Code)</option>
      <% end %>

      <% if current_organization.accepts_partners? %>
        <option value="completions_by_partner">Completions Report (by Partner)</option>
      <% end %>

      <option value="completions_by_survey_responses">Completions Report (by Survey Answers)</option>
      <option value="incomplete_courses">Incomplete Courses</option>
      <option value="completed_courses">Completed Courses</option>
      <option value="completed_lessons">Completed Lessons</option>
      <option value="no_courses">Users that have not started a course</option>
      <option value="registrations">All Registrations</option>
    </select>
  </div>

  <div class="date-range-selectors">
    <div>
      <label for="start_date">Start Date:</label>
      <%= date_field_tag :start_date, @start_date, class: "date-input" %>
    </div>

    <div>
      <label for="end_date">End Date:</label>
      <%= date_field_tag :end_date, @end_date, class: "date-input" %>
    </div>
  </div>

  <div>
    <button type="submit" class="btn btn-primary">Generate Report</button>
  </div>
<% end %>

<% if I18n.exists?("google_analytics_url.#{current_organization.subdomain}", I18n.locale) %>
  <li><%= link_to "Google Analytics Dashboard", t("google_analytics_url.#{current_organization.subdomain}"), target: "_blank" %></li>
<% end %>

<% if I18n.exists?("google_studio_url.#{current_organization.subdomain}", I18n.locale) %>
  <li><%= link_to "Google Analytics Report", t("google_studio_url.#{current_organization.subdomain}"), target: "_blank" %></li>
<% end %>
