<%= content_for(:callout) { %><h1>Admin Dashboard</h1><% } %>

<h2>Reports</h2>

<% if current_organization.branches? %>
  <li><%= link_to "Completions Report (by Library)", admin_completion_report_path(group_by: "library", format: :csv) %></li>
  <li><%= link_to "Completions Report (by Zipcode)", admin_completion_report_path(group_by: "zip_code", format: :csv) %></li>
<% end %>
<% if current_organization.accepts_partners? %>
  <li><%= link_to "Completions Report (by Partner)", admin_completion_report_path(group_by: "partner", format: :csv) %></li>
<% end %>
<li><%= link_to "Completions Report (by Survey Answers)", admin_completion_report_path(group_by: "survey_responses", format: :csv) %></li>
<li><%= link_to "Incomplete Courses", admin_report_export_path(report: :incomplete_courses, format: :csv) %></li>
<li><%= link_to "Completed Courses", admin_report_export_path(report: :completed_courses, format: :csv) %></li>
<li><%= link_to "Completed Lessons", admin_report_export_path(report: :completed_lessons, format: :csv) %></li>
<li><%= link_to "Users that have not started a course", admin_report_export_path(report: :no_courses, format: :csv) %></li>
<li><%= link_to "All Registrations", admin_report_export_path(report: :registrations, format: :csv) %></li>

<% if I18n.exists?("google_analytics_url.#{current_organization.subdomain}", I18n.locale) %>
  <li><%= link_to "Google Analytics Dashboard", t("google_analytics_url.#{current_organization.subdomain}"), target: "_blank" %></li>
<% end %>

<% if I18n.exists?("google_studio_url.#{current_organization.subdomain}", I18n.locale) %>
  <li><%= link_to "Google Analytics Report", t("google_studio_url.#{current_organization.subdomain}"), target: "_blank" %></li>
<% end %>
