<li class="sortable-item" data-id="<%= category.id %>" id="category_row_<%= category.id %>">
  <div class="row twelvecol category_row <%= category.enabled? ? "table_row_enabled" : "table_row_disabled" %>" >
    <div class="four-of-twelve">
      <%= category.name %>  
    </div>
    <div class="four-of-twelve">
      <%= link_to (category.enabled ? "Disable" : "Enable"), admin_category_toggle_path(category_id: category.id, format: "js"), method: :post, remote: true %>
    </div>
  </div>
</li>