<%= content_for(:callout) { %><h1>Admin Dashboard</h1><% } %>

<h2>Categories</h2>

<div class="sortable-list" data-page="categories">
  <ul class="admin-resource-list objects sortable reorderable" id="category_rows">
    <% @categories.each do |category| %>
      <%= render partial: "category_row", locals: { category: category } %>
    <% end %>
  </ul>
</div>

<%= form_for [:admin, @new_category], remote: true, format: :js do |f| %>
  <fieldset>
    <div class="category_name_input inline-form">
      <%= f.text_field :name %>
      <%= f.submit "Add Category" %>
    </div>
  </fieldset>
<% end %>