<%# TODO: This could be DRY'd up into a partial. %>
<% content_for :meta_title do %>
  <%= @course.seo_page_title.present? ? @course.seo_page_title : @course.title  %>
<% end %>
<% content_for :meta_description do %>
  <%= @course.meta_desc.present? ? @course.meta_desc : @course.summary %>
<% end %>
<% content_for :callout do %>
  <h2><%= @course.title %></h2>
<% end %>

<div><small><%= link_to "Courses", courses_path %> >> <%= @course.title %></small></div>

<div class="row">
  <div class="twelvecol congrats-banner">
    <div class="row">
      <%= content_tag :p, "Congratulations, #{current_user.profile.first_name}." %>
      <%= content_tag :p, "You've successfully completed #{@course.title}!", class: "small-margin" %>
    </div>
    <div class="row extra-margin">
      <div class="cert-preview hide-on-tablet">
        <div class="cert-inner">
          <div>
            <h3>Certificate of Completion</h3>
            <p>
              This award certifies that
            </p>
            <%= content_tag :h3, "#{current_user.profile.first_name}", class: "name" %>
            <p>
              has completed:
            </p>
            <%= content_tag :h3, "#{@course.title}", class: "course" %>
            <p>
              as of <%= local_time(current_user.course_progresses.where(course_id: @course.id).first.completed_at, '%B %e, %Y') %>
            </p>
            <%= image_tag "dl_logo.png" %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <%= link_to(course_complete_path(@course, format: 'pdf')) do %>
        <%= button_tag(type: 'button', class: 'congrats-button') do %>
          Download My Certificate
        <% end %>
      <% end %>
    </div>
    <div class="row">
      <%= link_to(your_courses_path) do %>
        <%= button_tag(type: 'button', class: 'btn-grey bottom-button congrats-button') do %>
          Return to My Courses
        <% end %>
      <% end %>
      <%= link_to(courses_path) do %>
        <%= button_tag(type: 'button', class: 'btn-grey bottom-button congrats-button') do %>
          View All Courses
        <% end %>
      <% end %>
    </div>
    <div class="row">
      <%= link_to "Restart this course" ,course_path(@course) %>
    </div>
  </div>
</div>

<hr />

<div class="row">
  <div class="sixcol border-right">
    <h2>Practice and use your new skills! (click each link below)</h2>
    <% if @course.notes.present? %>
      <div><%= simple_format @course.notes %></div>
    <% else %>
      <p class="note">There are no notes or partner resources for this course.</p>
    <% end %>
  </div>

  <div class="sixcol last">
    <%= render partial: "shared/post_course_materials", locals: { course: @course } %>
  </div>
</div>
