<div class="twelvecol">
  <div class="cert-box">
    <h1><%= t('completed_courses_page.certificate_of_completion') %></h1>
    <p>
      <%= t('certificate.this_award') %>
    </p>
    <%= content_tag :h2, "#{current_user.profile.first_name}", class: "name" %>
    <p>
      <%= t('certificate.has_completed') %>
    </p>
    <%= content_tag :h2, "#{@course.title}", class: "course" %>
    <p>
      <%= t('certificate.as_of') %> <%= local_time(current_user.course_progresses.where(course_id: @course.id).first.completed_at, '%B %e, %Y') %>
    </p>
    <%= wicked_pdf_image_tag "dl_logo.png" %>
  </div>
</div>
