<h1 class="text-color"><%= t('profile_page.my_completed_courses') %></h1>

<div class="row no-margin">
  <div class="one-third">
    <h2 class="text-color"><%= t('completed_courses_page.course') %></h2>
  </div>
  <div class="one-third">
    <h2 class="text-color"><%= t('completed_courses_page.date_completed') %></h2>
  </div>
  <div class="one-third">
    <h2 class="text-color"><%= t('completed_courses_page.certificate_of_completion') %></h2>
  </div>
</div>


<% @courses.each do |course| %>
  <div class="row underlined">
    <div class="one-third">
      <%= course.title %>
    </div>
    <div class="one-third">
      <%= local_time(current_user.course_progresses.where(course_id: course.id).first.completed_at, '%B %e, %Y') %>
    </div>
    <div class="one-third">
      <%= link_to "Download Certificate", course_complete_path(course, format: 'pdf') %>
    </div>
  </div>
<% end %>

<h1 class="text-color"><%= t('completed_courses_page.update_course_recommendations') %></h1>
<p class="shorty">
  <%= t('completed_courses_page.when_you_signed_up_quiz') %>
</p>
<p class="shorty">
  <%= t('completed_courses_page.have_you_completed_most_courses') %>
</p>
<div class="row">
  <div>
    <%= link_to courses_quiz_path do %>
      <%= button_tag(t("completed_courses_page.#{current_organization.subdomain}.retake_the_quiz"), type: "button", class: "button-color") %>
    <% end %>
  </div>
</div>
