<%# TODO: This could be DRY'd up into a partial. %>
<% content_for :meta_title do %>
  <%= @course.seo_page_title.present? ? @course.seo_page_title : @course.title  %>
<% end %>
<% content_for :meta_description do %>
  <%= @course.meta_desc.present? ? @course.meta_desc : @course.summary %>
<% end %>
<% content_for :callout do %>
  <h1><%= @course.title %></h1>
<% end %>

<div><small><%= link_to "Courses", courses_path %> >> <%= @course.title %></small></div>

<div class="row">
  <div class="twelvecol congrats-banner <%= color_class %>">
    <div class="row">
      <% if current_user %>
        <%= content_tag :p, "#{t('course_completion_page.congratulations')}, #{current_user.profile.first_name}." %>
      <% end %>
      <%= content_tag :p, "#{t('course_completion_page.you_successfully_completed')} #{@course.title}!", class: "small-margin" %>
    </div>
    <div class="row extra-margin">
      <div class="cert-preview hide-on-tablet">
        <div class="cert-inner <%= cert_color_class %>">
          <div>
            <h1><%= t('completed_courses_page.certificate_of_completion') %></h1>
            <p>
              <%= t('certificate.this_award') %>
            </p>
              <% if current_user %>
                <%= content_tag :h2, "#{current_user.profile.first_name}", class: "name" %>
              <% else %>
                <%= t('certificate.name_fill') %>
              <% end %>
            <p>
              <%= t('certificate.has_completed') %>
            </p>
            <%= content_tag :h2, "#{@course.title}", class: "course" %>
            <p>
              <%= t('certificate.as_of') %>  <% if current_user %> <%= local_time(current_user.course_progresses.where(course_id: @course.id).first.completed_at, '%B %e, %Y') %> <% else %> <%= local_time(Time.zone.now, '%B %e, %Y') %> <% end %>
            </p>
            <%= image_tag "dl_logo.png" %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <%= link_to(course_complete_path(@course, format: 'pdf')) do %>
        <%= button_tag(type: 'button', class: "congrats-button #{button_color}") do %>
          <%= t('course_completion_page.download_certificate') %>
        <% end %>
      <% end %>

      <% if subdomain? %>
        <%= link_to(course_skills_path(@course.id)) do %>
          <%= button_tag(type: 'button', class: "congrats-button #{button_color}") do %>
              <%= t('course_completion_page.practice_skills') %>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div class="row">
      <% if current_user %>
        <%= link_to(your_courses_path) do %>
          <%= button_tag(type: "button", class: "btn-grey bottom-button congrats-button #{button_color}" ) do %>
            <%= t('course_completion_page.return_to_my_courses') %>
          <% end %>
        <% end %>
      <% end %>
      <%= link_to(courses_path) do %>
        <%= button_tag(type: "button", class: "btn-grey bottom-button congrats-button #{button_color}") do %>
          <%= t('course_completion_page.view_all_courses') %>
        <% end %>
      <% end %>
    </div>
    <div class="row">
      <%= link_to "#{t('course_completion_page.restart_this_course')}", course_path(@course), class: "white" %>
    </div>
  </div>
</div>

<hr />

<div class="row">
  <div class="sixcol border-right">
    <h2 class="<%= text_color_class %>"><%= t('course_completion_page.practice_new_skills') %></h2>
    <% if @course.notes.present? %>
      <div class="show_with_bullets <%= ck_color_class %>"><%= sanitize(@course.notes) %></div>
    <% else %>
      <p class="note"><%= t('course_completion_page.there_are_no_notes_for_course') %></p>
    <% end %>
  </div>

  <div class="sixcol last">
    <%= render partial: "shared/post_course_materials", locals: { course: @course } %>
  </div>
</div>
