<%= content_for(:callout) do %>
  <h2><%= current_user.profile.first_name %>, what would you like to learn?</h2>
<% end %>

<h3>Answer three questions and we'll recommend which courses to take.</h3>

<%= form_tag courses_quiz_path do %>
  <%= render "shared/quiz_section_one" %>
  <%= render "shared/quiz_section_two" %>
  <%= render "shared/quiz_section_three" %>
<% end %>
