<%= content_for(:callout) do %>
  <h1><%= current_user.profile.first_name %>, what would you like to learn?</h1>
<% end %>

<h2>Answer three questions and we'll recommend which courses to take.</h2>

<ol>
  <%= render "shared/quiz_section_one" %>
  <%= render "shared/quiz_section_two" %>
  <%= render "shared/quiz_section_three" %>
</ol>
