<%= content_for :callout do %>
  <%= @course.title %>
<% end %>

<small><%= link_to "Courses", "#" %> >> <%= @course.title %></small>

<div class="row">
  <div class="eight-col">
    <%# TODO: Fill in dynamic info when ready. %>
    <div class="course-details">
      <div><i class="icon-pencil"></i>4 Lessons</div>
      <div><i class="icon-clock"></i>15 Minutes</div>
    </div>
    <p class="note">Contributed by Leslie James, <%= link_to "Commerce Kitchen", "#" %></p>
  </div>

  <div class="four-col last align-right">
    <p>+ Add to / - Remove from Your Plan</p>
    <%= link_to "Start Course", course_lesson_path(@course, 1), class: "btn" %>
  </div>
</div>

<p>
  <%= @course.summary %>
</p>

<hr>

<h2>Lessons in this course</h2>

<h2>Supplemental Materials</h2>
