<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @course.title %>
</p>

<p>
  <strong>Seo page title:</strong>
  <%= @course.seo_page_title %>
</p>

<p>
  <strong>Meta desc:</strong>
  <%= @course.meta_desc %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @course.summary %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>

<p>
  <strong>Contributor:</strong>
  <%= @course.contributor %>
</p>

<p>
  <strong>Pub status:</strong>
  <%= @course.pub_status %>
</p>

<p>
  <strong>Language:</strong>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
