<%= content_for :callout do %>
  <%= @course.title %>
<% end %>

<small><%= link_to "Courses", "#" %> >> Getting Started on the Computer</small>

<p><i class="icon-edit-alt"></i>4 Lessons</p>
<p><i class="icon-clock"></i><span>15 Minutes</span></p>
<p class="note">Contributed by Leslie James, <%= link_to "Commerce Kitchen", "#" %></p>
<button>Start Course</button>

<p>
  <%= @course.summary %>
</p>

<hr>

<h2>Lessons in this course</h2>

<h2>Supplemental Materials</h2>
