<% content_for :meta_title do %>
  <%= @course.seo_page_title.present? ? @course.seo_page_title : @course.title  %>
<% end %>
<% content_for :meta_description do %>
  <%= @course.meta_desc.present? ? @course.meta_desc : @course.summary %>
<% end %>
<% content_for :callout do %>
  <h1><%= @course.title %></h1>
<% end %>

<small><%= link_to "Courses", courses_path %> >> <%= @course.title %></small>

<div class="row">
  <div class="eightcol">
    <div class="course-details <%= text_color_class %>">
      <div><i class="<%= icon_color_class %> icon-pencil"></i><%= @course.lessons.count %> <%= t('course_page.lessons') %></div>
      <div><i class="<%= icon_color_class %> icon-clock"></i><%= @course.duration("#{t('course_page.minutes')}") %></div>
      <div><i class="<%= icon_color_class %> icon-plus"></i><%= t("course_page.#{@course.level.downcase}") %></div>
    </div>
    <%# TODO: Fill in dynamic link when ready %>
    <div><small><%= t('course_page.contributed_by') %> <%= @course.contributor %></small></div>
    <div><small><%= t('course_page.topics') %>: <%= @course.topics_str %></small></div>
  </div>

  <div class="fourcol last align-right mobile-tweak">
    <% if user_signed_in? %>
      <% if current_user.present? && current_user.has_role?(:admin, current_organization) %>
        <p class="course-edit-add-remove"><small><%= link_to "Edit Course >>", edit_admin_course_path(@course), class: link_color_class %></small></p>
      <% elsif current_user.tracking_course?(@course.id) %>
        <p class="course-edit-add-remove"><small>
          <%= link_to "- Remove from your plan", course_remove_path(@course), method: :post, data: { cpl_ga_event: "on", cpl_ga_value: "remove-course-from-plan" }, class: link_color_class  %>
        </small></p>
      <% else%>
        <p class="course-edit-add-remove"><small>
          <%= link_to "+ #{t('course_page.add_to_your_plan')}", course_add_path(@course), method: :post, data: { cpl_ga_event: "on", cpl_ga_value: "add-course-to-plan" }, class: link_color_class  %>
        </small></p>
      <% end %>
      <%= link_to "#{t('course_page.start_course')}", course_start_path(@course), method: :post, class: "btn #{button_color}", data: { cpl_ga_event: "on", cpl_ga_value: "user-start-course" } %>
    <% else %>
      <%= link_to "#{t('course_page.start_course')}", course_start_path(@course), method: :post, class: "btn unauth-start-course-button #{button_color}", data: { cpl_ga_event: "on", cpl_ga_value: "user-start-course" } %>
    <% end %>
  </div>
</div>

<div class="show_with_bullets <%= ck_color_class %>"><%= sanitize(@course.description) %></div>

<hr>

<h2 class="<%= text_color_class %>"><%= t('course_page.lessons_in_this_course') %></h2>
<%= render partial: "shared/lessons/grid", locals: { course: @course } %>
<hr>

<%= render partial: "shared/courses/supplemental_materials", locals: { course: @course } %>
