<% content_for :meta_title do %>
  <%= @course.seo_page_title.present? ? @course.seo_page_title : @course.title  %>
<% end %>
<% content_for :meta_description do %>
  <%= @course.meta_desc.present? ? @course.meta_desc : @course.summary %>
<% end %>
<% content_for :callout do %>
  <h1><%= @course.title %></h1>
<% end %>

<small><%= link_to "Courses", courses_path %> >> <%= @course.title %></small>

<div class="row">
  <div class="eightcol">
    <div class="course-details">
      <div><i class="icon-pencil"></i><%= @course.lessons.count %> Lessons</div>
      <div><i class="icon-clock"></i><%= @course.duration("Minutes") %></div>
      <div><i class="icon-plus"></i><%= @course.level %></div>
    </div>
    <%# TODO: Fill in dynamic link when ready %>
    <div><small>Contributed by <%= @course.contributor %></div>
    <div><small>Topics: <%= @course.topics_str %></small></div>
  </div>

  <div class="fourcol last align-right">
    <% if user_signed_in? %>
      <% if current_user.present? && current_user.is_admin? %>
        <p class="course-edit-add-remove"><small><%= link_to "Edit Course >>", edit_admin_course_path(@course) %></small></p>
      <% elsif current_user.tracking_course?(@course.id) %>
        <p class="course-edit-add-remove"><small>
          <%= link_to "- Remove from your plan", course_remove_path(@course), method: :post, data: { cpl_ga_event: "on", cpl_ga_value: "remove-course-from-plan" } %>
        </small></p>
      <% else%>
        <p class="course-edit-add-remove"><small>
          <%= link_to "+ Add to your plan", course_add_path(@course), method: :post, data: { cpl_ga_event: "on", cpl_ga_value: "add-course-to-plan" } %>
        </small></p>
      <% end %>

      <%= link_to "Start Course", course_start_path(@course), method: :post, class: "btn", data: { cpl_ga_event: "on", cpl_ga_value: "user-start-course" } %>
    <% else %>
      <%= link_to "Start Course", course_start_path(@course), method: :post, class: "btn unauth-start-course-button", data: { cpl_ga_event: "on", cpl_ga_value: "user-start-course" } %>
    <% end %>
  </div>
</div>

<div><%= simple_format @course.description %></div>

<hr>

<h2>Lessons in This Course</h2>
<%= render partial: "shared/lessons/grid", locals: { course: @course } %>
<hr>

<%= render partial: "shared/supplemental_materials", locals: { course: @course } %>
