<%= render "shared/courses/metas" %>

<small><%= link_to "Courses", courses_path %> >> <%= @course.title %></small>

<div class="course">
  <div class='course-info'>
    <div class="course-details text-color">
      <div><i class="icon-pencil"></i><%= @course.lessons.published.count %> <%= t('course_page.lessons') %></div>
      <div><i class="icon-clock"></i><%= @course.duration("#{t('course_page.minutes')}") %></div>
      <div><i class="icon-plus"></i><%= t("course_page.#{@course.level.downcase}") %></div>
    </div>
    <div><small><%= t('course_page.contributed_by') %> <%= @course.contributor %></small></div>
    <div><small><%= t('course_page.topics') %>: <%= @course.topics_str %></small></div>
  </div>
  
  <div class="course-actions">
    <% if org_admin? && policy(@course).edit? %>
      <p class="course-edit-add-remove"><small><%= link_to "Edit Course >>", edit_admin_course_path(@course) %></small></p>
    <% end %>

    <% unless @preview %>
      <%= render 'courses/course_progress_actions' %>
    <% end %>

    <%= start_or_resume_course_link(@course, @preview) %>
  </div>
</div>

<div class="show_with_bullets"><%= sanitize(@course.description) %></div>

<hr>

<h2 class="text-color"><%= t('course_page.lessons_in_this_course') %></h2>
<p><%= t('course_page.start_lesson_instructions') %></p>
<%= render "shared/lessons/grid" %>

<hr>

<% content_for :left do %>
  <%= render "shared/courses/text_copies" %>
<% end %>
<% content_for :right do %>
  <%= render "shared/courses/supplemental_materials" %>
<% end %>
