<% content_for :meta_title do %>
  <%= @course.seo_page_title.present? ? @course.seo_page_title : @course.title  %>
<% end %>
<% content_for :meta_description do %>
  <%= @course.meta_desc.present? ? @course.meta_desc : @course.summary %>
<% end %>
<% content_for :callout do %>
  <h1><%= @course.title %></h1>
<% end %>

<small><%= link_to "Courses", courses_path %> >> <%= @course.title %></small>

<div class="container">
  <div class="row">
    <div class="sixcol">
      <h2 class="<%= text_color_class %>"><%= t('course_page.practice_and_use_your_skills') %></h2>
      <% if @course.notes.blank? %>
        <div class="note"><%= t('course_page.there_are_no_notes_for_course') %></div>
      <% else %>
        <div class="show_with_bullets <%= ck_color_class %>"><%= sanitize(@course.notes) %></div>
      <% end %>
    </div>
    <div class="sixcol">
      <h2 class="<%= text_color_class %>"><%= t('course_page.additional_resources') %></h2>
      <% if @course.post_course_attachments.count > 0 %>
        <ul class="no-padding">
          <% @course.post_course_attachments.each do |a| %>
            <%= link_to course_attachment_path(@course, a), target: "_blank" do %>
              <li class="<%= link_color_class %>">
                <i class="icon-download <%= download_color_class %>"></i><%= a.document_file_name %>
                <p class="note file-description"><%= a.file_description %></p>
              </li>
            <% end %>
          <% end %>
        </ul>
      <% else %>
        <div class="note"><%= t('course_page.there_are_no_additional_resources') %></div>
      <% end %>
    </div>
  </div>
</div>
