<h1 class=<%= text_color_class %>><%= t('my_courses_page.my_plan_click_to_start') %></h1>

<p>
<%= t("my_courses_page.#{current_organization.subdomain}.course_color_explaination") %> <%= link_to "#{ t('my_courses_page.click_here_to_homepage') }", root_path, class: "#{link_color_class}" %>
  <%= t('my_courses_page.completed_most_courses') %> <%= link_to "#{t('my_courses_page.click_here_to_quiz')}", courses_quiz_path, class: "#{link_color_class}" %>
  <%= t('my_courses_page.well_suggest_more_courses') %>
</p>

  <%= render partial: "shared/courses/listing" %>

  <% if @results && @results.blank? %>
    <p>No courses match your search. <%= link_to "View all your courses", your_courses_path %></p>
  <% end %>
