<h2>My Plan: Click on a course below and get started!</h2>

<p>
  Purple courses need to be completed.  Gray courses have already been completed.
  To add more to your plan, <%= link_to "click here to go to the homepage.", root_path %>
  Have you completed most of the courses? If so, <%= link_to "click here to retake the quiz", "#" %>
  and we'll suggest even more courses.
</p>
  <div class="row no-bottom-margin">
    <div class="right-third">
      <div class="search-box">
        <%= form_tag your_courses_path, method: :get do %>
          <%= search_field_tag :search, params[:search], placeholder: "Search courses by keyword" %>
          <i class="icon-search grey"></i>
          <%= submit_tag "Search", id: "search_btn" %>
        <% end %>
      </div>
    </div>
  </div>

  <%= render partial: "shared/courses/listing" %>

  <% if @results && @results.blank? %>
    <p>No courses match your search. <%= link_to "View all your courses", your_courses_path %></p>
  <% end %>
