<% content_for :callout do %>
  <h1>Get DigitalLearn for Your Library</h1>
<% end %>

<div class="static-page">
  <h2>See Our Work In Action</h2>
  <p>
    Since launching our first DigitalLearn custom site in partnership with
    Chicago Public Library in 2016, we've been able to steadily expand and
    support new public libraries in launching their own sites. Take a look!
  </p>

  <div class="row extra-bottom-margin">
    <div class="fourcol">
      <%= link_to root_url(subdomain: "chipublib") do %>
        <%= image_tag "portfolio/cpldl", class: "portfolio-image" %>
        <div><strong>Chicago Public Library</strong></div>
      <% end %>
    </div>

    <div class="fourcol">
      <%= link_to root_url(subdomain: "ebrpl") do %>
        <%= image_tag "portfolio/east_baton_rouge", class: "portfolio-image" %>
        <div><strong>East Baton Rouge Public Library</strong></div>
      <% end %>
    </div>

    <div class="fourcol last">
      <%= link_to root_url(subdomain: "kpl") do %>
        <%= image_tag "portfolio/kalamazoo", class: "portfolio-image" %>
        <div><strong>Kalamazoo Public Library</strong></div>
      <% end %>
    </div>
  </div>

  <div class="row extra-bottom-margin">
    <div class="fourcol">
      <%= link_to root_url(subdomain: "npl") do %>
        <%= image_tag "portfolio/nashville", class: "portfolio-image" %>
        <div><strong>Nashville Public Library</strong></div>
      <% end %>
    </div>

    <div class="fourcol">
      <%= link_to root_url(subdomain: "pima") do %>
        <%= image_tag "portfolio/pima_county", class: "portfolio-image" %>
        <div><strong>Pima County Public Library</strong></div>
      <% end %>
    </div>

    <div class="fourcol last">
      <%= link_to root_url(subdomain: "tscpl") do %>
        <%= image_tag "portfolio/topeka", class: "portfolio-image" %>
        <div><strong>Topeka & Shawnee County Public Library</strong></div>
      <% end %>
    </div>
  </div>

</div>
