<p><%= t("confirmation_email.#{@resource.subdomain}.subject") %></p>

<p><%= t("confirmation_email.#{@resource.subdomain}.greeting") %> <% if @user.profile %> <%= @user.profile.first_name %>,<% end %></p>

<p><%= t("confirmation_email.#{@resource.subdomain}.welcome") %></p>

<p><%= t("confirmation_email.#{@resource.subdomain}.confirm_your_account_through_link") %></p>

<p><%= link_to "#{t("confirmation_email.#{@resource.subdomain}.confirm_my_account")}", confirmation_url(@user, confirmation_token: @token) %></p>

<%= raw t("confirmation_email.#{@resource.subdomain}.signature") %>

