<%= content_for(:callout) { %><h3>Admin Dashboard</h3><% } %>

<h2>Users</h2>

<div class="search-box">
  <%= form_tag admin_users_index_path, method: :get do %>
    <%= search_field_tag :search, params[:search], placeholder: "Search users by keyword" %>
    <i class="icon-search grey"></i>
    <%= submit_tag "Search", id: "search_btn" %>
  <% end %>
</div>

<div class="row twelvecol underlined">
  <div class="two-of-twelve">
    <h3>Name</h3>
  </div>
  <div class="four-of-twelve">
    <h3>Email</h3>
  </div>
  <div class="two-of-twelve">
    <h3>Language</h3>
  </div>
  <div class="two-of-twelve">
    <h3>User Role</h3>
  </div>
  <div class="two-of-twelve">
    <h3>Confirmed?</h3>
  </div>
</div>

<% @users.each do |user| %>
  <div class="row twelvecol underlined">
    <div class="two-of-twelve">
      <%= user.profile.first_name %>
    </div>
    <div class="four-of-twelve">
      <%= user.email %>
    </div>
    <div class="two-of-twelve">
      <%= user.preferred_language %>
    </div>
    <div class="two-of-twelve">
      <%= user.current_roles.empty? ? "user" : user.current_roles %>
    </div>
    <div class="two-of-twelve">
      <% if user.confirmed? %>
        Yes
      <% else %>
        <%= link_to "Click to Confirm", admin_dashboard_manually_confirm_user_path(user_id: user.id), method: :put %>
      <% end %>
    </div>
  </div>
<% end %>
