<%= content_for(:callout) do %>
  <h1>Admin Dashboard</h1>
<% end %>

<h2>User Accounts</h2>

<div class="row">
  <div class="sixcol">
    <%= render partial: "shared/search_box", locals: { search_path: admin_users_path, placeholder_text: "Search users by keyword", search_param: :users_search } %>
  </div>
  <div class="sixcol last left-or-right">
    <%= link_to "Export User Information", admin_export_user_info_path(format: :csv), class: "btn button-color" %>
  </div>
</div>

<table class="users-table">
  <tr>
    <th>
      <h2>Name</h2>
    </th>
    <th>
      <h2 class="inline-heading"><%= t('login_signup.email') %></h2>
    </th>
    <th>
      <h2>Language</h2>
    </th>
    <th>
      <h2>User Role</h2>
    </th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td>
        <%= user.profile.try(:first_name) %>
      </td>
      <td>
        <%= user.email %>
      </td>
      <td>
        <%= user.preferred_language %>
      </td>
      <td>
        <%= select_tag "user_#{user.id}", options_for_select(User::ROLES, user.current_roles.capitalize), data: { user_id: user.id, role: user.current_roles }, class: "user_role small narrow", method: :patch %>
      </td>
    </tr>
  <% end %>
</table>
