<%= content_for(:callout) { %><h1>Admin Dashboard</h1><% } %>

<h1>Users</h1>

<div class="row">
  <div class="sixcol">
    <div class="users-search-box">
      <%= form_tag admin_users_index_path, method: :get do %>
        <%= search_field_tag :search, params[:search], placeholder: "Search users by keyword" %>
        <i class="icon-search grey"></i>
        <%= submit_tag "Search", id: "search_btn" %>
      <% end %>
    </div>
  </div>
  <div class="sixcol last left-or-right">
    <%= link_to "Export User Information", admin_export_user_info_path(format: :csv), class: "btn button-color" %>
  </div>
</div>

<div class="row twelvecol underlined">
  <div class="two-of-twelve">
    <h2>Name</h2>
  </div>
  <div class="four-of-twelve">
    <h2 class="inline-heading"><%= t('login_signup.email') %></h2>
  </div>
  <div class="two-of-twelve">
    <h2>Language</h2>
  </div>
  <div class="two-of-twelve">
    <h2>User Role</h2>
  </div>
</div>

<% @users.each do |user| %>
  <div class="row twelvecol underlined">
    <div class="two-of-twelve">
      <%= user.profile.try(:first_name) %>
    </div>
    <div class="four-of-twelve">
      <%= user.email %>
    </div>
    <div class="two-of-twelve">
      <%= user.preferred_language %>
    </div>
    <div class="two-of-twelve">
      <%= select_tag "user_#{user.id}", options_for_select(User::ROLES, user.current_roles.capitalize), data: { user_id: user.id, role: user.current_roles }, class: "user_role small narrow", method: :patch %>
    </div>
  </div>
<% end %>
