<%= content_for(:callout) { %><h1>Admin Dashboard</h1><% } %>

<h1>Users</h1>

<div class="search-box">
  <%= form_tag admin_users_index_path, method: :get do %>
    <%= search_field_tag :search, params[:search], placeholder: "Search users by keyword" %>
    <i class="icon-search grey"></i>
    <%= submit_tag "Search", id: "search_btn" %>
  <% end %>
</div>

<div>
  <div class="list-titles">
    <div class="cell">First Name</div>
    <div class="cell">Email</div>
    <div class="cell">Preferred Language</div>
    <div class="cell">User Role</div>
    <div class="cell">Locked?</div>
  </div>
  <ul class="objects">
    <% @users.each do |user| %>
      <li>
        <div class="cell"><%= user.profile.first_name %></div>
        <div class="cell"><%= user.email %></div>
        <div class="cell"><%= user.preferred_language %></div>
        <div class="cell"><%= user.current_roles %></div>
        <% # TODO: implement this if needed %>
        <div class="cell"><%= %w(Yes No).sample %></div>
      </li>
    <% end %>
  </ul>
</div>
