<ul class="sidebar-links">
  <li><%= link_to "<< Dashboard", admin_dashboard_index_path %></li>
  <li><%= link_to "Customizable Text Sections", admin_custom_translations_path %></li>
  <li><%= link_to "User Survey", admin_custom_user_surveys_path %></li>
  <% if subdomain? %>
    <li><%= link_to "Footer", admin_custom_footers_path %></li>
    <li><%= link_to "Login Requirement", admin_custom_features_path %></li>
    <li><%= link_to "Manage Programs", admin_custom_programs_path %></li>
    <li><%= link_to "Manage Library Branches", admin_custom_branches_path %></li>
  <% end %>
</ul>
