<header class="header-logged-in">
  <div class="container">
    <div class="row">
      <small>
        <%= link_to "English", "#",  class: "lang-link" %> | <%= link_to "Espa&ntilde;ol".html_safe, "#", class: "lang-link" %>
      </small>
    </div>
    <div class="row">
      <div class="sixcol">
        <%= render "shared/logo_purple" %>
      </div>
      <div class="sixcol last">
        <nav class="left-or-right header-top-nav">
          Hi Admin! |
          <%= link_to "Admin Dashboard", admin_dashboard_index_path %> |
          <%= link_to "Community Of Practice", "http://community.digitallearn.org" %> |
          <%= link_to "Sign Out", destroy_user_session_path, method: "delete" %>
        </nav>
      </div>
    </div>
  </div>
</header>
