<header class="header-logged-in <%= "lesson-header" if request.path.include?("/lessons/")%>">
  <div class="container">
    <div class="language-links">
      <%= render "shared/language_links" %>
      <%= render "shared/trainers_link" %>
    </div>
    <div class="logo-link-container">
      <%= render "shared/logo_purple" %>
      <div class="search-container">
        <div class="signup-box">
          <nav class="left-or-right header-top-nav">
            Hi Admin! |
            <%= link_to "Admin Dashboard", admin_dashboard_index_path, class: "inline_link" %> |
            <% if top_level_domain? %>
              <strong><%= link_to "Tools and Resources for Trainers", "https://training.digitallearn.org", target: "_blank", class: "inline_link" %></strong> |
            <% end %>
            <%= link_to "Sign Out", destroy_user_session_path, method: "delete", class: "inline_link" %>
          </nav>
        </div>
        <div class="alternate-search-box">
          <%= render "shared/search_box" %>
        </div>
      </div>
    </div>
  </div>
</header>
