<ul class="sidebar-links link-color">
  <li><%= link_to "Change Login Information", account_path %></li>
  <li><%= link_to "Update Profile", profile_path %></li>
  <li><%= link_to "Courses", admin_root_path %></li>
  <% if subdomain? %>
    <li><%= link_to "Import Digital Learn Courses", admin_import_courses_path %></li>
    <li><%= link_to "Completions Report (by Library)", admin_export_completions_path(format: "csv", version: "lib") %></li>
  <% end %>
  <li><%= link_to "Completions Report (by Zipcode)", admin_export_completions_path(format: "csv", version: "zip") %></li>
  <li><%= link_to "User Accounts", admin_users_index_path %></li>
  <li><%= link_to "CMS Pages", admin_pages_index_path %></li>
  <li><%= link_to "Invite Admin", admin_invites_index_path %></li>
</ul>
