<ul class="sidebar-links">
  <li><%= link_to "Change Login Information", account_path %></li>
  <li><%= link_to "Update Profile", profile_path %></li>
  <li><%= link_to "Courses", admin_root_path %></li>
  <li><%= link_to "User Accounts", admin_users_index_path %></li>
  <li><%= link_to "CMS Pages", admin_pages_index_path %></li>
</ul>
