<ul class="sidebar-links">
  <div class='sidebar-section'>
  <div class='sidebar-section__header'>Site Administration</div>
    <li><%= link_to "User Accounts", admin_users_path %></li>
    <li><%= link_to "Invite Admin", admin_dashboard_admin_invitation_path %></li>
    <li><%= link_to "Reports", admin_reports_path %></li>
    <% if top_level_domain? %>
      <li><%= link_to "Organizations", admin_organizations_path %></li>
    <% end %>
  </div>

  <div class='sidebar-section'>
    <div class='sidebar-section__header'>Content Management</div>
    <li><%= link_to "Courses", admin_root_path %></li>
    <% if subdomain? %>
      <li><%= link_to "Import DigitalLearn Courses", admin_import_courses_path %></li>
      <% end %>
    <li><%= link_to "CMS Pages", admin_pages_path %></li>
    <li><%= link_to "Categories", admin_categories_path %></li>
  </div>

  <div class='sidebar-section'>
    <div class='sidebar-section__header'>Subsite Customization</div>
    <% if current_organization.accepts_programs %>
      <li><%= link_to "Manage Programs", admin_programs_path %></li>
    <% end %>
      <% if current_organization.student_programs? %>
      <li><%= link_to "Manage Schools", admin_schools_path %></li>
    <% end %>
    <li><%= link_to "Custom Text", admin_custom_translations_path %></li>
    <li><%= link_to "User Survey", admin_custom_user_surveys_path %></li>
    <% if subdomain? %>
      <li><%= link_to "Footer Logo", admin_custom_footers_path %></li>
      <li><%= link_to "Login Requirement", admin_custom_features_path %></li>
      <li><%= link_to "Manage Library Branches", admin_library_locations_path %></li>
    <% end %>
  </div>
</ul>
