<%= content_for(:callout) do %>
  <h1><%= current_user.profile.first_name %>, <%= t('quiz.intro_text') %> </h1>
<% end %>

<h2 class="text-color"><%= t('quiz.answer_3_questions') %> </h2>

<%= form_tag quiz_responses_path do %>
  <%= render "shared/quiz_section_one" %>
  <%= render "shared/quiz_section_two" %>
  <%= render "shared/quiz_section_three" %>
<% end %>
