<div class='resources'>
  <%= f.fields_for :attachments, @course.attachments.build do |a| %>
    <%= a.label :document, "Additional Resources" %>
    <p><i>
      <%= 'Upload any supplemental materials for further learning. These files are available to users after completing the course.' %>
    </i></p>
      
    
    <div class='fields'>
      <%= render partial: 'admin/courses/forms/attachment_list',
                 locals: { attachments: @course.additional_resource_attachments, allow_delete: true } %>
      <%= render partial: 'admin/courses/forms/attachment_upload',
                 locals: { attachment_form: a, attachment_type: 'additional-resource', removable: false } %>
      <%= link_to_add_fields "Add Attachment", f, :attachments, "additional-resource" %>
    </div>
  <% end %>
</div>