<%= javascript_include_tag "/ckeditor/ckeditor.js" %>
<%= javascript_include_tag "courses.js" %>

<small>Admin >> Courses >> Edit Course</small>

<h1>Course Information</h1>

<%= form_for([:admin, @course], html: { multipart: true } ) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>
      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <%= f.label :title do %>
      Title<span class="required"></span>
    <% end %>
    <%= f.text_field :title %>
    <div class="note left-or-right">
      <span id="course_title_counter"></span> out of <%= @max_title %> characters remaining.
    </div>
  </fieldset>

  <fieldset>
    <%= f.label :contributor do %>
      Contributor<span class="required"></span>
    <% end %>
    <%= f.text_field :contributor, class: "bottom-margin" %>
  </fieldset>

  <fieldset>
    <%= f.label :summary do %>
      Course Summary<span class="required"></span>
    <% end %>
    <%= f.text_field :summary %>
    <div class="note left-or-right"><span id="course_summary_counter"></span> out of <%= @max_summary %> characters remaining.</div>
  </fieldset>

  <fieldset>
    <%= f.label :description do %>
      Course Description<span class="required"></span>
    <% end %>
    <%= f.cktext_area :description %>
  </fieldset>

  <div class="row">
    <div class="sixcol">
      <%= f.fields_for :attachments, @course.attachments.build do |a| %>
        <fieldset>
          <%= a.label :document, "Course Supplemental Materials" %>
          <p><i>Upload any supporting documentation or supplemental materials needed during the course in <strong>PDF format only.</strong></i></p>
        </fieldset>
        <fieldset>
          <%= a.hidden_field :_destroy, class: "removable" %>
          <%= a.hidden_field :doc_type, value: "supplemental" %>
          <%= a.file_field :document, class: "upload-field" %>
        </fieldset>
      <% end %>
      <%= link_to_add_fields "Add Supplemental Attachment", f , :attachments, "sup" %>
    </div>

    <div class="sixcol last">
      <%= f.fields_for :attachments, @course.attachments.build do |a| %>
        <fieldset>
          <%= a.label :document, "Post-Course Supplemental Materials" %>
          <p><i>Upload any supporting documentation or supplemental materials needed after the course in <strong>PDF format only.</strong></i></p>
        </fieldset>
        <fieldset>
          <%= a.hidden_field :doc_type, value: "post-course" %>
          <%= a.hidden_field :_destroy, class: "removable" %>
          <%= a.file_field :document, class: "upload-field" %>
        </fieldset>
      <% end %>
      <%= link_to_add_fields "Add Post Course Attachment", f , :attachments, "post" %>
    </div>
  </div>

  <% if @course.attachments.exists? %>
    <div class="row">
      <fieldset class="sixcol">
        <%= f.label :document, "Current Supplemental Attachments" %>
        <ul>
          <% @course.attachments.where(doc_type: "supplemental").each do |a| %>
            <li>
            <%= a.document_file_name %> <%= link_to "Delete", admin_attachment_path(a), method: :delete, data: { confirm: "Are you sure?" } %>
            </li>
          <% end %>
        </ul>
      </fieldset>
      <fieldset class="sixcol last">
        <%= f.label :document, "Current Post-Course Attachments" %>
        <ul>
          <% @course.attachments.where(doc_type: "post-course").each do |a| %>
            <li>
              <%= a.document_file_name %> -- <%= link_to "Delete", admin_attachment_path(a), method: :delete, data: { confirm: "Are you sure?" } %>
            </li>
          <% end %>
        </ul>
      </fieldset>
    </div>
  <% end %>

  <div>
    <fieldset>
      <%= f.label :notes, "Post-Course Completion Notes and Partner Resources" %>
      <%= f.cktext_area :notes %>
    </fieldset>
  </div>

  <div class="row">
    <div class="fourcol">
      <fieldset>
        <%= f.label :topics do %>
          Course Topics<span class="required"></span>
        <% end %>

        <%= f.collection_check_boxes(:topics, Topic.all, :title, :title) do |b| %>
          <%= b.check_box(checked: current_topics(@course, b.object)) %>
          <%= b.label class: "plain" %>
        <% end %>
        <div>
          <%= f.check_box :other_topic %>
          <%= f.label :other_topic, "Other Topic", class: "plain" %>
          <%= f.text_field :other_topic_text, placeholder: "(Enter to create new topic)", class: "topic-box" %>
        </div>
      </fieldset>
    </div>

    <div class="fourcol">
      <fieldset>
        <%= f.label :language_id do %>
          Course Language<span class="required"></span>
        <% end %>
        <%= f.collection_select(:language_id, Language.all, :id, "name", { include_blank: "Select..." }, class: "select-large" ) %>
      </fieldset>
    </div>

    <div class="fourcol last">
    <fieldset>
      <%= f.label :format do %>
        Course Format<span class="required"></span>
      <% end %>
      <%= f.select(:format, options_for_select([["Desktop", "D"],["Mobile", "M"]], @course.format), { include_blank: "Select..." } ) %>
    </fieldset>
    </div>
  </div>

  <% if request.subdomain == "admin" %>
    <%= render("admin/courses/forms/dl_level_pub_section", f: f) %>
  <% else %>
    <%= render("admin/courses/forms/level_pub_section", f: f) %>
  <% end %>

  <fieldset>
    <%= f.label "SEO page title" %>
    <%= f.text_field :seo_page_title %>
    <div class="note left-or-right">
      <span id="course_seo_page_title_counter"></span> out of <%= @max_seo %> characters
    </div>
  </fieldset>

  <fieldset>
    <%= f.label "Meta Description" %>
    <%= f.text_field :meta_desc %>
    <div class="note left-or-right">
      <span id="course_meta_desc_counter"></span> out of <%= @max_meta %> characters
    </div>
  </fieldset>

  <div class="actions">
    <div class="row">
      <div class="fourcol">
        <%= f.submit "Save Course", params: { commit: "Save Course" } %>
      </div>
      <div class="fourcol">
        <% if @course.lessons.blank? %>
          <%= f.submit "Save Course and Add Lessons" %>
        <% else %>
          <%= f.submit "Save Course and Edit Lessons" %>
        <% end %>
      </div>
      <div class="fourcol last"></div>
    </div>
  </div>
<% end %>
