<small>Admin >> Courses >> Edit Course</small>

<h1>Course Information</h1>

<%= form_for([:admin, @course]) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>
      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <%= f.label "Title" %><span class="required"></span>
    <%= f.text_field :title %>
    <div class="note left-or-right"><span id="title_counter"></span> out of <%= @max_title %> characters remaining.</div>
  </fieldset>

  <fieldset>
    <%= f.label "Contributor" %><span class="required"></span>
    <%= f.text_field :contributor %>
  </fieldset>

  <fieldset>
    <%= f.label "Course Summary" %><span class="required"></span>
    <%= f.text_field :summary, id: "summary_text" %>
    <div class="note left-or-right"><span id="summary_counter"></span> out of <%= @max_title %> characters remaining.</div>
  </fieldset>

  <fieldset>
    <%= f.label "Course Description" %><span class="required"></span>
    <%= f.cktext_area :description %>
  </fieldset>

  <div class="row">
    <%= f.fields_for :attachments, @course.attachments.build do |attachment_builder| %>
      <%= render "admin/courses/forms/supplemental_attachment_fields", f: attachment_builder %>
    <% end %>
  </div>

  <div>
    <%= f.label "Post-Course Completion Notes and Partner Resources" %>
    <%= f.cktext_area :notes %>
  </div>

  <div class="row">
    <div class="six-col">
      <%= f.label "Course Topics" %><span class="required"></span>
      <%= f.collection_check_boxes(:topics, Topic.all, :title, :title) do |b| %>
        <%= b.check_box(checked: current_topics(@course, b.object)) %>
        <%= b.label %> &nbsp;
      <% end %>
    </div>

    <div class="six-col last">
      <%= f.label "Course Language" %><span class="required"></span>
      <%= f.collection_select(:language_id, Language.all, :id, "name", { include_blank: true } ) %>
    </div>
  </div>

  <div class="row">
    <div class="six-col">
      <%= f.label "Course Level" %><span class="required"></span>
      <%= f.select(:level, options_for_select(["Beginner", "Intermediate", "Advanced"], @course.level), { include_blank: true } ) %>
    </div>

    <div class="six-col last">
      <%= f.label "Publication Status" %><span class="required"></span>
      <%= f.select(:pub_status, options_for_select([["Draft", "D"], ["Published", "P"], ["Trashed", "T"]], @course.pub_status), { include_blank: true } ) %>
    </div>
  </div>

  <fieldset>
    <%= f.label "SEO page title" %>
    <%= f.text_field :seo_page_title %>
    <div class="note left-or-right"><span id="seo_counter"></span> out of <%= @max_title %> characters
  </div>

  <fieldset>
    <%= f.label "Meta description" %>
    <%= f.text_field :meta_desc, id: "meta_text" %>
    <div class="note left-or-right"><span id="meta_counter"></span> out of <%= @max_title %> characters
  </div>

  <div class="actions">
    <div class="row">
      <div class="four-col">
        <%= f.submit "Save Course" %>
      </div>
      <div class="four-col">
        <%= f.submit "Save Course and Edit Lesson" %>
      </div>
      <div class="four-col last"></div>
    </div>
  </div>
<% end %>
