<small>Admin >> Courses >> Edit Course</small>

<h1>Course Information</h1>

<%= form_for([:admin, @course], html: { multipart: true } ) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>
      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <%= f.label :title, class: "text-color" do %>
      Title<span class="required"></span>
    <% end %>
    <%= f.text_field :title %>
    <div class="note left-or-right">
      <span id="course_title_counter"></span> out of <%= @max_title %> characters remaining.
    </div>
  </fieldset>

  <fieldset>
    <%= f.label :contributor, class: "text-color" do %>
      Contributor<span class="required"></span>
    <% end %>
    <%= f.text_field :contributor, class: "bottom-margin" %>
  </fieldset>

  <fieldset>
    <%= f.label :summary, class: "text-color" do %>
      Course Summary<span class="required"></span>
    <% end %>
    <%= f.text_field :summary %>
    <div class="note left-or-right"><span id="course_summary_counter"></span> out of <%= @max_summary %> characters remaining.</div>
  </fieldset>

  <fieldset>
    <%= f.label :description, class: "text-color" do %>
      Course Description<span class="required"></span>
    <% end %>
    <%= f.cktext_area :description %>
  </fieldset>

  <div class="row">
    <div class="sixcol">
      <%= f.fields_for :attachments, @course.attachments.build do |a| %>
        <fieldset>
          <%= a.label :document, "Text copies of the course", class: "text-color" %>
          <p><i>Upload any supporting documentation or supplemental materials needed during the course.</i></p>
        </fieldset>
        <fieldset>
          <%= a.hidden_field :_destroy, class: "removable" %>
          <%= a.hidden_field :doc_type, value: "supplemental" %>
          <%= a.file_field :document, class: "upload-field" %>
          <%= a.text_field :file_description, class: "text-field", placeholder: "(optional) Add a description for this attachment..." %>
        </fieldset>
      <% end %>
      <%= link_to_add_fields "Add Supplemental Attachment", f , :attachments, "sup" %>
    </div>

    <div class="sixcol last">
      <%= f.fields_for :attachments, @course.attachments.build do |a| %>
        <fieldset>
          <%= a.label :document, "Additional Resources (post-completion)", class: "text-color" %>
          <p><i>Upload any supporting documentation or supplemental materials needed after the course.</i></p>
        </fieldset>
        <fieldset>
          <%= a.hidden_field :doc_type, value: "post-course" %>
          <%= a.hidden_field :_destroy, class: "removable" %>
          <%= a.file_field :document, class: "upload-field" %>
          <%= a.text_field :file_description, class: "text-field", placeholder: "(optional) Add a description for this resource..." %>
        </fieldset>
      <% end %>
      <%= link_to_add_fields "Add Post Course Attachment", f , :attachments, "post" %>
    </div>
  </div>

  <% if @course.attachments.exists? %>
    <div class="row">
      <fieldset class="sixcol">
        <%= f.label :document, "Current Supplemental Attachments", class: "text-color" %>
        <ul>
          <% @course.attachments.where(doc_type: "supplemental").each do |a| %>
            <li>
            <%= a.document_file_name %> <%= link_to "Delete", admin_attachment_path(a), method: :delete, data: { confirm: "Are you sure?" } %>
            </li>
          <% end %>
        </ul>
      </fieldset>
      <fieldset class="sixcol last">
        <%= f.label :document, "Current Post-Course Attachments", class: "text-color" %>
        <ul>
          <% @course.attachments.where(doc_type: "post-course").each do |a| %>
            <li>
              <%= a.document_file_name %> -- <%= link_to "Delete", admin_attachment_path(a), method: :delete, data: { confirm: "Are you sure?" } %>
            </li>
          <% end %>
        </ul>
      </fieldset>
    </div>
  <% end %>

  <div>
    <fieldset>
      <%= f.label :notes, "Info to help learners practice and use their new skills (post completion)", class: "text-color" %>
      <%= f.cktext_area :notes %>
    </fieldset>
  </div>

  <div class="row">
    <div class="fourcol">
      <fieldset>
        <%= f.label :topics, class: "text-color" do %>
          Course Topics<span class="required"></span>
        <% end %>

        <%= f.collection_check_boxes(:topics, Topic.all, :title, :title) do |b| %>
          <div class="form-1-col">
            <%= b.check_box(checked: current_topics(@course, b.object)) %>
            <%= b.label class: "plain" %>
          </div>
        <% end %>

        <div>
          <%= f.check_box :other_topic %>
          <%= f.label :other_topic, "Other Topic", class: "plain" %>
          <%= f.text_field :other_topic_text, placeholder: "(Enter to create new topic)", class: "topic-box" %>
        </div>
      </fieldset>
    </div>
    <div class="fourcol">
      <%= f.label :category_id, class: "text-color" do %>
        Course Category
      <% end %>
      <%= f.select(:category_id, options_for_select(@category_options, @course.category_id),{ include_blank: "Select..." } ) %>
    </div>
    <div class="fourcol">
      <%= f.fields_for :category do |c| %>
        <%= c.label :name do %>
          &nbsp;
        <% end %>
        <%= c.text_field :name, placeholder: "Enter new category name", class: "hideUntilActive" %>
      <% end %>
    </div>
  </div>


  <div class="row">
    <div class="sixcol">
      <fieldset>
        <%= f.label :language_id, class: "text-color" do %>
          Course Language<span class="required"></span>
        <% end %>
        <%= f.collection_select(:language_id, Language.all, :id, "name", { include_blank: "Select..." }, class: "select-large" ) %>
      </fieldset>
    </div>

    <div class="sixcol last">
    <fieldset>
      <%= f.label :format, class: "text-color" do %>
        Course Format<span class="required"></span>
      <% end %>
      <%= f.select(:format, options_for_select([["Desktop", "D"],["Mobile", "M"]], @course.format), { include_blank: "Select..." } ) %>
    </fieldset>
    </div>
  </div>

  <% if subdomain? %>
    <%= render("admin/courses/forms/level_pub_section", f: f) %>
  <% else %>
    <%= render("admin/courses/forms/dl_level_pub_section", f: f) %>
  <% end %>

  <fieldset>
    <%= f.label "SEO page title", class: "text-color" %>
    <%= f.text_field :seo_page_title %>
    <div class="note left-or-right">
      <span id="course_seo_page_title_counter"></span> out of <%= @max_seo %> characters
    </div>
  </fieldset>

  <fieldset>
    <%= f.label "Meta Description", class: "text-color" %>
    <%= f.text_field :meta_desc %>
    <div class="note left-or-right">
      <span id="course_meta_desc_counter"></span> out of <%= @max_meta %> characters
    </div>
  </fieldset>

  <%= f.hidden_field :subdomain, value: current_organization.subdomain %>

  <div class="actions">
    <div class="row">
      <div class="fourcol">
        <%= f.submit "Save Course", params: { commit: "Save Course" }, class: "button-color" %>
      </div>
      <div class="fourcol">
        <% if @course.lessons.blank? %>
          <%= f.submit "Save Course and Add Lessons", class: "button-color" %>
        <% else %>
          <%= f.submit "Save Course and Edit Lessons", class: "button-color" %>
        <% end %>
      </div>
      <div class="fourcol last"></div>
    </div>
  </div>
<% end %>
