<%= javascript_include_tag "/ckeditor/ckeditor.js" %>

<small>Admin >> Courses >> Edit Course</small>

<h1>Course Information</h1>

<%= form_for([:admin, @course], html: { multipart: true } ) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>
      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <%= f.label :title do %>
      Title<span class="required"></span>
    <% end %>
    <%= f.text_field :title %>
    <div class="note left-or-right">
      <span id="course_title_counter"></span> out of <%= @max_title %> characters remaining.
    </div>
  </fieldset>

  <fieldset>
    <%= f.label :contributor do %>
      Contributor<span class="required"></span>
    <% end %>
    <%= f.text_field :contributor, class: "bottom-margin" %>
  </fieldset>

  <fieldset>
    <%= f.label :summary do %>
      Course Summary<span class="required"></span>
    <% end %>
    <%= f.text_field :summary %>
    <div class="note left-or-right"><span id="course_summary_counter"></span> out of <%= @max_summary %> characters remaining.</div>
  </fieldset>

  <fieldset>
    <%= f.label :description do %>
      Course Description<span class="required"></span>
    <% end %>
    <%= f.cktext_area :description %>
  </fieldset>

  <div class="row">
    <%= f.fields_for :attachments, @course.attachments.build do |attachment_builder| %>
      <%= render "admin/courses/forms/supplemental_attachment_fields", f: attachment_builder %>
    <% end %>
  </div>

  <div>
    <fieldset>
      <%= f.label :notes, "Post-Course Completion Notes and Partner Resources" %>
      <%= f.cktext_area :notes %>
    </fieldset>
  </div>

  <div class="row">
    <div class="fourcol">
      <fieldset>
        <%= f.label :topics do %>
          Course Topics<span class="required"></span>
        <% end %>

        <%= f.collection_check_boxes(:topics, Topic.all, :title, :title) do |b| %>
          <%= b.check_box(checked: current_topics(@course, b.object)) %>
          <%= b.label class: "plain" %>
        <% end %>
        <div>
          <%= f.check_box :other_topic %>
          <%= f.label :other_topic, "Other Topic", class: "plain" %>
          <%= f.text_field :other_topic_text, placeholder: "(Enter to create new topic)", class: "topic-box" %>
        </div>
      </fieldset>
    </div>

    <div class="fourcol">
      <fieldset>
        <%= f.label :language_id do %>
          Course Language<span class="required"></span>
        <% end %>
        <%= f.collection_select(:language_id, Language.all, :id, "name", { include_blank: "Select..." }, class: "select-large" ) %>
      </fieldset>
    </div>

    <div class="fourcol last">
    <fieldset>
      <%= f.label :format do %>
        Course Format<span class="required"></span>
      <% end %>
      <%= f.select(:format, options_for_select([["Desktop", "D"],["Mobile", "M"]], @course.format), { include_blank: "Select..." } ) %>
    </fieldset>
    </div>
  </div>

  <div class="row">
    <div class="sixcol">
      <fieldset>
        <%= f.label :level do %>
          Course Level<span class="required"></span>
        <% end %>
        <%= f.select(:level, options_for_select(["Beginner", "Intermediate", "Advanced"], @course.level), { include_blank: "Select..." } ) %>
      </fieldset>
    </div>

    <div class="sixcol last">
      <fieldset>
        <%= f.label :pub_status do %>
          Publication Status<span class="required"></span>
        <% end %>
        <%= f.select(:pub_status, options_for_select([["Draft", "D"], ["Published", "P"], ["Trashed", "T"]], @course.pub_status), { include_blank: "Select..." } ) %>
      </fieldset>
    </div>
  </div>

  <fieldset>
    <%= f.label "SEO page title" %>
    <%= f.text_field :seo_page_title %>
    <div class="note left-or-right">
      <span id="course_seo_page_title_counter"></span> out of <%= @max_seo %> characters
    </div>
  </fieldset>

  <fieldset>
    <%= f.label "Meta Description" %>
    <%= f.text_field :meta_desc %>
    <div class="note left-or-right">
      <span id="course_meta_desc_counter"></span> out of <%= @max_meta %> characters
    </div>
  </fieldset>

  <div class="actions">
    <div class="row">
      <div class="fourcol">
        <%= f.submit "Save Course", params: { commit: "Save Course" } %>
      </div>
      <div class="fourcol">
        <%= f.submit "Save Course and Edit Lessons" %>
      </div>
      <div class="fourcol last"></div>
    </div>
  </div>
<% end %>
