<%= javascript_include_tag "/ckeditor/ckeditor.js" %>

<small><%= "Admin >> Courses >> #{breadcrumb}" %></small>

<h1>Course Information</h1>

<%= form_for([:admin, @course], html: { multipart: true } ) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>
      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <%= f.label :title, class: "text-color" do %>
      Title<span class="required"></span>
    <% end %>
    <%= f.text_field :title, maxlength: 40 %>
    <div class="character-limit note left-or-right">&nbsp;</div>
  </fieldset>

  <fieldset>
    <%= f.label :contributor, class: "text-color" do %>
      Contributor<span class="required"></span>
    <% end %>
    <%= f.text_field :contributor, class: "bottom-margin" %>
  </fieldset>

  <fieldset>
    <%= f.label :summary, class: "text-color" do %>
      Course Summary<span class="required"></span>
    <% end %>
    <%= f.text_field :summary, maxlength: 74 %>
    <div class="character-limit note left-or-right">&nbsp;</div>
  </fieldset>

  <fieldset>
    <%= f.label :description, class: "text-color" do %>
      Course Description<span class="required"></span>
    <% end %>
    <%= f.text_area :description %>
  </fieldset>

  <div class="row">
    <div class="sixcol">
      <%= f.fields_for :attachments, @course.attachments.build do |a| %>
        <fieldset>
          <%= a.label :document, "Text copies of the course", class: "text-color" %>
          <p><i>Upload any supporting documentation or supplemental materials needed during the course.</i></p>
        </fieldset>
        <fieldset>
          <%= a.hidden_field :_destroy, class: "removable" %>
          <%= a.hidden_field :doc_type, value: "supplemental" %>
          <%= a.file_field :document, class: "upload-field" %>
          <%= a.text_field :file_description, class: "text-field", placeholder: "(optional) Add a description for this attachment..." %>
        </fieldset>
      <% end %>
      <%= link_to_add_fields "Add Supplemental Attachment", f , :attachments, "sup" %>
    </div>

    <div class="sixcol last">
      <%= f.fields_for :attachments, @course.attachments.build do |a| %>
        <fieldset>
          <%= a.label :document, "Additional Resources (post-completion)", class: "text-color" %>
          <p><i>Upload any supporting documentation or supplemental materials needed after the course.</i></p>
        </fieldset>
        <fieldset>
          <%= a.hidden_field :doc_type, value: "post-course" %>
          <%= a.hidden_field :_destroy, class: "removable" %>
          <%= a.file_field :document, class: "upload-field" %>
          <%= a.text_field :file_description, class: "text-field", placeholder: "(optional) Add a description for this resource..." %>
        </fieldset>
      <% end %>
      <%= link_to_add_fields "Add Post Course Attachment", f , :attachments, "post" %>
    </div>
  </div>

  <% if @course.attachments.exists? %>
    <div class="row">
      <fieldset class="sixcol">
        <%= f.label :document, "Current Supplemental Attachments", class: "text-color" %>
        <ul>
          <% @course.attachments.where(doc_type: "supplemental").each do |a| %>
            <li>
            <%= a.document_file_name %> <%= link_to "Delete", admin_attachment_path(a), method: :delete, data: { confirm: "Are you sure?" } %>
            </li>
          <% end %>
        </ul>
      </fieldset>
      <fieldset class="sixcol last">
        <%= f.label :document, "Current Post-Course Attachments", class: "text-color" %>
        <ul>
          <% @course.attachments.where(doc_type: "post-course").each do |a| %>
            <li>
              <%= a.document_file_name %> -- <%= link_to "Delete", admin_attachment_path(a), method: :delete, data: { confirm: "Are you sure?" } %>
            </li>
          <% end %>
        </ul>
      </fieldset>
    </div>
  <% end %>

  <div>
    <fieldset>
      <%= f.label :notes, "Info to help learners practice and use their new skills (post completion)", class: "text-color" %>
      <%= f.text_area :notes %>
    </fieldset>
  </div>

  <div class="row">
    <div class="fourcol">
      <fieldset>
        <%= f.label :topics, class: "text-color" do %>
          Course Topics<span class="required"></span>
        <% end %>

        <%= f.collection_check_boxes(:topics, Topic.all, :title, :title) do |b| %>
          <div class="form-1-col">
            <%= b.check_box(checked: current_topics(@course, b.object)) %>
            <%= b.label class: "plain" %>
          </div>
        <% end %>

        <div>
          <%= f.check_box :other_topic %>
          <%= f.label :other_topic, "Other Topic", class: "plain" %>
          <%= f.text_field :other_topic_text, placeholder: "(Enter to create new topic)", class: "topic-box" %>
        </div>
      </fieldset>
    </div>
    <div class="fourcol">
      <fieldset>
        <%= f.label :category_id, class: "text-color" do %>
          Course Category
        <% end %>
        <%= f.select(:category_id, options_for_select(@category_options, @course.category_id || ("0" if @custom)),{ include_blank: "Uncategorized" } ) %>
      </fieldset>
    </div>
    <div class="fourcol">
      <fieldset>
        <%= f.fields_for :category_attributes do |c| %>
          <%= c.hidden_field :organization_id, value: current_organization.id %>
          <%= c.label :name do %>
            &nbsp;
          <% end %>
          <div class=<%="#{'field_with_errors' if f.object.category.present? && f.object.category.errors[:name].present?}"%>>
            <%= c.text_field :name, value: (@category.name if @category.present?) || (@custom_category), placeholder: "Enter new category name", class: "#{'hideUntilActive' unless @category_name.present?}" %>
          </div>
        <% end %>
      </fieldset>
    </div>
  </div>

  <div class="row">
    <div class="sixcol">
      <fieldset>
        <%= f.label :language_id, class: "text-color" do %>
          Course Language<span class="required"></span>
        <% end %>
        <%= f.collection_select(:language_id, Language.all, :id, "name", { include_blank: "Select..." } ) %>
      </fieldset>
    </div>

    <div class="sixcol last">
    <fieldset>
      <%= f.label :format, class: "text-color" do %>
        Course Format<span class="required"></span>
      <% end %>
      <%= f.select(:format, options_for_select([["Desktop", "D"],["Mobile", "M"]], @course.format), { include_blank: "Select..." } ) %>
    </fieldset>
    </div>
  </div>

  <%= render("admin/courses/forms/level_pub_section", f: f) %>
  <%= render("admin/courses/forms/access_level", f: f) %>

  <% if top_level_domain? %>
    <%= render("admin/courses/forms/www_fields", f: f) %>
  <% end %>

  <fieldset>
    <%= f.label "SEO page title", class: "text-color" %>
    <%= f.text_field :seo_page_title, maxlength: 90 %>
    <div class="character-limit note left-or-right">&nbsp;</div>
  </fieldset>

  <fieldset>
    <%= f.label :meta_desc, class: "text-color" %>
    <%= f.text_field :meta_desc, maxlength: 156 %>
    <div class="character-limit note left-or-right">&nbsp;</div>
  </fieldset>

  <% if current_organization.base_site? && !@course.new_record? %>
    <div class="row">
      <div class="twelvecol">
        <fieldset>
          <%= f.label :propagation_org_ids, 'Propagate these changes to subsite courses for:', class: "text-color" %>
          <% if Organization.using_course(@course.id).exists? %>
            <%= f.collection_check_boxes :propagation_org_ids, Organization.using_course(@course.id), :id, :name  do |b| %>
              <div class="form-1-col">
                <%= b.check_box(checked: @course.propagation_org_ids.include?(b.object)) %>
                <%= b.label class: "plain" %>
              </div>
            <% end %>
          <% else %>
            <p><i>There's no subsite imported this course yet.</i></p>
          <% end %>
        </fieldset>
      </div>
    </div>
  <% end %>

  <%= f.hidden_field :subdomain, value: current_organization.subdomain %>
  <%= f.hidden_field :organization_id, value: current_organization.id %>

  <div class="actions">
    <div class="row">
      <div class="fourcol">
        <%= f.submit "Save Course", params: { commit: "Save Course" }, class: "button-color" %>
      </div>
      <div class="fourcol">
        <% if @course.lessons.blank? %>
          <%= f.submit "Save Course and Add Lessons", class: "button-color" %>
        <% else %>
          <%= f.submit "Save Course and Edit Lessons", class: "button-color" %>
        <% end %>
      </div>
      <div class="fourcol last"></div>
    </div>
  </div>
<% end %>

<script>
  CKEDITOR.replace("course_description");
  CKEDITOR.replace("course_notes");
</script>