<div class="nested-fields inline-form">
  <div class="inline-input">
    <%= f.label :label, 'Label', class: 'plain' %>
    <%= f.text_field :label %>
  </div>
  <div class="inline-input">
    <%= f.label :url, "URL", class: "plain" %>
    <%= f.text_field :url %>
  </div>

  <%= link_to_remove_association "Remove Link", f %>
</div>