<div class='text-copies'>
  <%= f.fields_for :attachments, @course.attachments.build do |a| %>
    <%= a.label :document, "Text Copies of Course", class: "#{'disabled' if @imported_course}" %>
    <p><i>
      <%= "#{@imported_course ? 'Text' : 'Upload text'} copies of the course to allow users to download content and view offline or follow along with the online course." %>
    </i></p>

    <div class='fields'>
      <%= render partial: 'admin/courses/forms/attachment_list', locals: { attachments: @course.text_copy_attachments, allow_delete: !@imported_course } %>
      <% unless @imported_course %>
        <%= render partial: 'admin/courses/forms/attachment_upload', locals: { attachment_form: a, attachment_type: 'text-copy', removable: false } %>
        <%= link_to_add_fields "Add Attachment", f, :attachments, 'text-copy' %>
      <% end %>
    </div>
  <% end %>
</div>