<%= form_for([:admin, @course], html: { multipart: true, class: "course-form #{'restricted' if @imported_course}" } ) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>
      <ul>
        <% @course.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if @imported_course %>
    <%= render 'admin/courses/forms/categories', f: f %>
    <%= render 'admin/courses/forms/access_level', f: f %>
    <%= render 'admin/courses/forms/imported_course_actions', f: f %>
  <% end %>

  <fieldset class='title'>
    <%= f.label :title, class: "text-color" do %>
      Title<span class="required"></span>
    <% end %>
    <%= f.text_field :title, maxlength: Course.max_length_for(:title), disabled: @imported_course %>
    <div class="character-limit note left-or-right">&nbsp;</div>
  </fieldset>

  <fieldset class='author'>
    <%= f.label :contributor, class: "text-color" do %>
      Contributor<span class="required"></span>
    <% end %>
    <%= f.text_field :contributor, disabled: @imported_course %>
  </fieldset>

  <fieldset class='summary'>
    <%= f.label :summary, class: "text-color" do %>
      Course Summary<span class="required"></span>
    <% end %>
    <%= f.text_field :summary, maxlength: Course.max_length_for(:summary), disabled: @imported_course %>
    <div class="character-limit note left-or-right">&nbsp;</div>
  </fieldset>

  <fieldset class='description'>
    <%= f.label :description, class: "text-color" do %>
      Course Description<span class="required"></span>
    <% end %>
    <%= f.cktext_area :description, disabled: @imported_course %>
  </fieldset>

  <%= render partial: 'admin/courses/forms/text_copy_fields', locals: { f: f } %>
  <%= render partial: 'admin/courses/forms/additional_resource_fields', locals: { f: f } %>

  <fieldset class='additional-content'>
    <%= f.label :notes, "Content for Further Learning", class: "text-color" %>
    <p><i>This content is available to users after completing the course.</i></p>
    <%= f.cktext_area :notes, disabled: @imported_course %>
  </fieldset>

  <%= render 'admin/courses/forms/topics', f: f %>

  <% unless @imported_course %>
    <%= render 'admin/courses/forms/categories', f: f %>
  <% end %>

  <fieldset class='language'>
    <%= f.label :language_id, class: "text-color" do %>
      Course Language<span class="required"></span>
    <% end %>
    <%= f.collection_select(:language_id, Language.all, :id, "name", { include_blank: "Select..." }, { disabled: @imported_course } ) %>
  </fieldset>

  <fieldset class='format'>
    <%= f.label :format, class: "text-color" do %>
      Course Format<span class="required"></span>
    <% end %>
    <%= f.select(:format, options_for_select([["Desktop", "D"],["Mobile", "M"]], @course.format), { include_blank: "Select..." }, { disabled: @imported_course } ) %>
  </fieldset>

  <fieldset class='course-level'>
    <%= f.label :level, class: "text-color" do %>
      Course Level<span class="required"></span>
    <% end %>
    <%= f.select(:level, options_for_select(["Beginner", "Intermediate", "Advanced"], @course.level), { include_blank: "Select..." }, { disabled: @imported_course } ) %>
  </fieldset>

  <% unless @imported_course %>
    <%= render 'admin/courses/forms/access_level', f: f %>
  <% end %>

  <fieldset class='seo-title'>
    <%= f.label :seo_page_title, class: "text-color" do %>
      SEO Page Title
    <% end %>
    <%= f.text_field :seo_page_title, maxlength: Course.max_length_for(:seo_page_title), disabled: @imported_course %>
    <div class="character-limit note left-or-right">&nbsp;</div>
  </fieldset>

  <fieldset class='seo-meta'>
    <%= f.label :meta_desc, class: "text-color" do %>
      SEO Meta Description
    <% end %>
    <%= f.text_field :meta_desc, maxlength: Course.max_length_for(:meta_desc), disabled: @imported_course %>
    <div class="character-limit note left-or-right">&nbsp;</div>
  </fieldset>

  <% if top_level_domain? && !@course.new_record? %>
    <fieldset class='propagation'>
      <%= f.label :propagation_org_ids, 'Propagate these changes to subsite courses for:', class: "text-color" %>
      <% if Organization.using_course(@course.id).exists? %>
        <%= f.collection_check_boxes :propagation_org_ids, Organization.using_course(@course.id), :id, :name  do |b| %>
          <div>
            <%= b.check_box(checked: @course.propagation_org_ids.include?(b.object)) %>
            <%= b.label class: "plain" %>
          </div>
        <% end %>
      <% else %>
        <p><i>There's no subsite imported this course yet.</i></p>
      <% end %>
    </fieldset>
  <% end %>

  <%= f.hidden_field :subdomain, value: current_organization.subdomain %>
  <%= f.hidden_field :organization_id, value: current_organization.id %>

  <% unless @imported_course %>
    <%= render 'admin/courses/forms/course_owner_actions', f: f %>
  <% end %>
<% end %>