<div class="sortable_list_wrapper">
  <h3 class="<%= 'disabled' if (category.present? && !category.enabled) %>"><%= category.present? ? category.admin_display_name : "Uncategorized" %></h3>
  <% if courses.empty? %>
    No courses in this category
  <% else %>
    <div>
      <div class="list-titles">
        <div class="cell text-color">Course</div>
        <div class="cell text-color">Topic</div>
        <div class="cell text-color">Language</div>
        <div class="cell text-color"></div>
        <div class="cell text-color"></div>
      </div>
      <ul class="objects">
        <% courses.each do |course| %>
          <li class="table-row">
            <div class="cell"><%= course.title %></div>
            <div class="cell"><%= course.topics_str %></div>
            <div class="cell"><%= course.language.name %></div>
            <div class="cell">
              <%= link_to "Import Course", admin_dashboard_add_imported_course_path(course_id: course.id), method: :post, class: "load-on-click" %>
              <%= render 'shared/loader' %>
            </div>
            <div class="cell">
              <%= link_to "Preview Course", admin_course_preview_path(course) %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
