<div class="sortable_list_wrapper">
  <h3 class="<%= 'disabled' if (category.present? && !category.enabled) %>"><%= category.present? ? category.admin_display_name : "Uncategorized" %></h3>
  <% if courses.empty? %>
    No courses in this category
  <% else %>
    <div class="sortable-list" data-page="courses">
      <div class="list-titles">
        <div class="cell text-color">Course</div>
        <div class="cell text-color">Topic</div>
        <div class="cell text-color">Language</div>
        <div class="cell text-color">Publication Status</div>
      </div>
      <ul class="objects sortable reorderable">
        <% courses.each do |course| %>
          <li class="sortable-item table-row" data-id="<%= course.id %>">
            <div class="cell"><%= link_to course.title, edit_admin_course_path(course), class: "no_drag_link" %></div>
            <div class="cell"><%= course.topics_str %></div>
            <div class="cell"><%= course.language.name %></div>
            <div class="cell"><%= select_tag "course_#{course.id}", options_for_select([["Published", "P"], ["Draft", "D"], ["Archive", "A"]], course.pub_status), data: { course_id: course.id, status: course.pub_status }, class:"course_pub small narrow", method: :patch %>
              <% unless course.pub_date.blank? %>
                <span class="note">(<%= course.pub_date.strftime("%m/%d/%Y") %>)</span>
              <% end %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>