<%= content_for(:callout) { %><h1>Admin Dashboard</h1><% } %>

<h1>Digital Learn Courses</h1>

<div class="row">
  <div class="sixcol">
    <p class="emphasis no-top-margin">
      These courses are offered by Digital Learn for you to import into your organization's courses.
    </p>
  </div>
  <div class="sixcol last left-or-right">
    <%= link_to "Add a New Course", new_admin_course_path, class: "btn button-color" %>
  </div>
</div>

<div class="sortable-list" data-page="courses">
  <div class="list-titles">
    <div class="cell text-color">Course</div>
    <div class="cell text-color">Topic</div>
    <div class="cell text-color">Language</div>
    <div class="cell text-color">Import</div>
  </div>
  <ul class="objects">
    <% @importable_courses.each do |course| %>
      <li>
        <div class="cell"><%= course.title %></div>
        <div class="cell"><%= course.topics_str %></div>
        <div class="cell"><%= course.language.name %></div>
        <div class="cell">
          <%= link_to("Import Course", admin_dashboard_add_imported_course_path(course_id: course.id), method: :post) %>
        </div>
      </li>
    <% end %>
  </ul>
</div>
