<%= content_for(:callout) { %><h1>Admin Dashboard</h1><% } %>

<h1>Courses</h1>

<div class="row">
  <div class="sixcol">
    <p class="emphasis">
      Re-order courses on the homepage by clicking on the arrow icon to drag and drop courses. Edit by clicking the appropriate course below.
    </p>
  </div>
  <div class="sixcol last left-or-right">
    <%= link_to "Add a New Course", new_admin_course_path, class: "btn" %>
  </div>
</div>

<div class="row">
  <div class="list-titles">
    <p class="first">Course</p>
    <p>Topic</p>
    <p>Language</p>
    <p class="last">Publication Status</p>
  </div>
</div>

<div>
  <ul class="objects sortable reorderable">
    <% @courses.each do |course| %>
    <li class="sortable-item" data-id="<%= course.id %>">
      <p class="first"><%= link_to course.title, edit_admin_course_path(course) %></p>
      <p class="second"><%= course.topics_str %></p>
      <p class="third"><%= course.language.name %></p>
      <p><%= course.current_pub_status %> <span class="note"> (<%= course.pub_date.strftime("%m/%d/%Y") unless course.pub_date.blank? %>)</span></p>
    </li>
    <% end %>
  </ul>
</div>
