<%= content_for(:callout) { "Admin Dashboard" } %>

<h1>Courses</h1>

<div class="row">
  <div class="sixcol">
    <p class="emphasis">
      Re-order courses on the homepage by clicking on the arrow icon to drag and drop courses. Edit by clicking the appropriate course below.
    </p>
  </div>
  <div class="sixcol last left-or-right">
    <%= link_to "Add a New Course", new_admin_course_path, class: "btn" %>
  </div>
</div>

<table class="reorderable">
  <thead>
    <tr>
      <th>Course</th>
      <th>Topic</th>
      <th>Language</th>
      <th>Publication Status</th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr  class="sortable">
        <td class="nowrap"><%= link_to course.title, edit_admin_course_path(course) %></td>
        <td><%= course.topics_str %></td>
        <td><%= course.language.name %></td>
        <%# TODO: should this be a helper, or a model method? %>
        <%# TODO: Status also needs a published date. %>
        <td><%= pub_status_str(course) %> <span class="note">(11/01/2015)</span></td>
      </tr>
    <% end %>
  </tbody>
</table>
