<%= content_for(:callout) { %><h1>Admin Dashboard</h1><% } %>

<h1>Courses</h1>

<div class="row">
  <div class="sixcol">
    <p class="emphasis no-top-margin">
      Re-order courses on the homepage by clicking on the arrow icon to drag and drop courses. Edit by clicking the appropriate course below.
    </p>
  </div>
  <div class="sixcol last left-or-right">
    <%= link_to "Add a New Course", new_admin_course_path, class: "btn" %>
  </div>
</div>

<div class="sortable-list" data-page="courses">
  <div class="list-titles">
    <div class="cell">Course</div>
    <div class="cell">Topic</div>
    <div class="cell">Language</div>
    <div class="cell">Publication Status</div>
  </div>
  <ul class="objects sortable reorderable">
    <% @courses.each do |course| %>
      <li class="sortable-item" data-id="<%= course.id %>">
        <div class="cell"><%= link_to course.title, edit_admin_course_path(course) %></div>
        <div class="cell"><%= course.topics_str %></div>
        <div class="cell"><%= course.language.name %></div>
        <div class="cell"><%= select_tag "course_#{course.id}", options_for_select([["Publish", "P"], ["Draft", "D"], ["Archive", "A"]], course.pub_status), data: { course_id: course.id, status: course.pub_status }, class:"course_pub small narrow", method: :patch %>
          <% unless course.pub_date.blank? %>
            <span class="note">(<%= course.pub_date.strftime("%m/%d/%Y") %>)</span>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
</div>

<%= javascript_tag do %>
  $(document).ready(function() {
    var set_positions = function(){
      // loop through and give each task a data-pos
      // attribute that holds its position in the DOM
      $(".panel.panel-default").each(function(i){
          $(this).attr("data-pos",i+1);
      });
    }
    // call set_positions function
    set_positions();

    $(".sortable").sortable();

    // after the order changes
    $(".sortable").sortable().bind("sortupdate", function(e, ui) {
      // array to store new order
      updated_order = []
      // set the updated positions
      set_positions();

      // populate the updated_order array with the new task positions
      $(".sortable-item").each(function(i){
          updated_order.push({ id: $(this).data("id"), position: i+1 });
      });

      // send the updated order via ajax
      $.ajax({
          type: "PUT",
          url: "/admin/" + $(".sortable-list").data("page") + "/sort",
          // url: '/admin/courses/sort',
          data: { order: updated_order }
      });
    });

    $(".course_pub").on("change", function(){ //listen for a change on the given selector(id)
      var currentStatus = $(this).data("status");
      var courseId = $(this).data("courseId");
      var value = $(this).val();
      if(value == "A"){
        var r = confirm("Are you sure you want to Archive this item? Archiving means it will no longer be avaliable to edit or view.");
      } else {
        var r = true
      }

      if(r == true){
        $.ajax({
          url: "/admin/courses/" + courseId + "/update_pub_status/",
          data: { "value": value },
          dataType: "json",
          type: "PATCH"
        });
      } else {
        $(this).val(currentStatus)
      }
    });
  });
<% end %>
