<!DOCTYPE html>
<html lang="<%= I18n.locale.to_s %>">
  <head>
    <%= render "shared/layout/meta_tags" %>
    <%= render "shared/layout/analytics" %>
  </head>
  <body class="<%= "#{controller_name}-#{action_name}" %> <%= current_organization.subdomain %>">
    <%= render "shared/layout/header" %>
    <%= render "shared/layout/banner" %>
    <main class="container">
      <%= render "shared/flashes" %>
      <%= yield %>
    </main>
    <%= render "shared/layout/footer" %>
  </body>
</html>
