<!DOCTYPE html>
<html>
<head>
  <title>Chicago Public Library - Digital Learn</title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "shared/logged_out/header" %>

  <main class="container">
    <%= render "shared/flashes" %>
    <%= yield %>
  </main>

  <%= render "shared/footer" %>
</body>
</html>
