<!DOCTYPE html>
<html>
<head>
  <%= render "shared/meta_tags" %>
</head>
<body>
  <%= render "shared/logged_out/header" %>

  <main class="container">
    <%= render "shared/flashes" %>
    <%= yield %>
  </main>

  <%= render "shared/footer" %>
</body>
</html>
