<!DOCTYPE html>
<html>
  <head>
    <%= render "shared/meta_tags" %>
    <% begin %>
      <%= render "shared/ga_#{current_organization.subdomain}" if Rails.env.production? %>
    <% end %>
    <%= render "shared/ga_event_tracking" if Rails.env.production? %>
  </head>
  <body class="<%= "#{controller_name}-#{action_name}" %> <%= current_organization.subdomain %>">
    <%= render "shared/alternate_cpl_header" %>
    <div class="banner color">
      <div class="container">
        <% if content_for?(:callout) %>
          <%= yield :callout %>
        <% else %>
          <h1 class="slogan" >
            <%= raw t("home.#{current_organization.subdomain}.custom_banner_greeting") %>
            <%= t("home.logo_banner_html") %>
          </h1>
        <% end %>
      </div>
    </div>
    <main class="container">
      <%= render "shared/flashes" %>
      <%= yield %>
    </main>
    <%= render "shared/footer" %>
  </body>
</html>
