<!DOCTYPE html>
<html lang="<%= I18n.locale.to_s %>">
  <head>
    <%= render "shared/layout/meta_tags" %>
    <%= render "shared/layout/analytics" %>
  </head>
  <body class="<%= "#{controller_name}-#{action_name}" %> <%= current_organization.subdomain %>">
    <%= render "shared/layout/header" %>
    <%= render "shared/layout/banner" %>
    <%= render "shared/courses/preview_notice" %>
    <main class="container">
      <%= render "shared/flashes" %>
      <div class=<%= @show_sidebar ? "content-grid-with-sidebar" : "content-grid" %>>
        <%= user_sidebar(@sidebar) if @show_sidebar %>
        <div class="main-content">
          <%= yield %>
          <div class="two-column-grid">
            <section class="left">
              <%= yield :left %>
            </section>
            <section class="right">
              <%= yield :right %>
            </section>
          </div>
        </div>
      </div>
    </main>
    <%= render "shared/layout/footer" %>
  </body>
</html>
