<!doctype html>
<html lang="<%= I18n.locale.to_s %>">
  <head>
    <%= render "shared/layout/analytics" %>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title><%= current_organization.subdomain == "www" ? "DigitalLearn" : "#{current_organization.name} - DigitalLearn" %></title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= vite_spa_tags %>
  </head>
  <body>
    <%= render "shared/layout/gtm_noscript" %>
    <div id="root"></div>
  </body>
</html>
