<h2 class="text-color"><%= t('account.login_information') %></h2>

<%= form_for @user, url: account_path, method: :put do |f| %>

  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>The following errors prohibited this account from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-row">
    <fieldset>
      <%= f.label :email, class: "text-color" do %>
        <%= t('login_signup.email') %>
      <% end %>
      <%= f.email_field :email, autofocus: true %>
    </fieldset>
  </div>

  <div class="form-row">
    <fieldset>
      <%= f.label :password, class: "text-color" do %>
        <%= t('login_signup.password') %> <i class="note"><%= t('change_login_page.leave_blank_to_not_change_password') %></i>
      <% end %>
      <%= f.text_field :password, autocomplete: "off", class: "strength" %>
      <span class="password-indicator"></span>
    </fieldset>
  </div>

  <div class="form-row">
    <fieldset>
      <%= f.label :password_confirmation, class: "text-color" do %>
        <%= t('change_login_page.password_confirmation') %>
      <% end %>
      <%= f.text_field :password_confirmation %>
    </fieldset>
  </div>

  <div class="form-row">
    <fieldset>
      <%= f.submit "Save", class: "button-color" %>
    </fieldset>
  </div>

<% end %>
