<h1><%= t('logged_in_user.my_account') %></h1>

<%= form_for @user, url: account_path, method: :put do |f| %>

  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>The following errors prohibited this account from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <%= f.label :email do %>
      <%= t('login_signup.email') %>
    <% end %>
    <%= f.email_field :email, autofocus: true %>
  </fieldset>

  <% if @user.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= @user.unconfirmed_email %></div>
  <% end %>

  <fieldset>
    <%= f.label :password do %>
      <%= t('login_signup.password') %> <i class="note"><%= t('change_login_page.leave_blank_to_not_change_password') %></i>
    <% end %>
    <%= f.text_field :password, autocomplete: "off", class: "strength" %>
    <span class="password-indicator"></span>
  </fieldset>

  <fieldset>
    <%= f.label :password_confirmation do %>
      <%= t('change_login_page.password_confirmation') %>
    <% end %>
    <%= f.text_field :password_confirmation %>
  </fieldset>

  <fieldset>
    <%= f.submit "Save" %>
  </fieldset>

<% end %>
